{% layout none %}

<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=5">
    <meta name="theme-color" content="">
    <meta name="robots" content="nofollow,noindex">


    <!-- ===================== ! -->
    <!-- SEO       ! -->
    <!-- ===================== ! -->    
    {%- assign formatted_balance = gift_card.balance | money_without_trailing_zeros | strip_html -%}

    <title>{{ 'gift_cards.issued.title' | t: value: formatted_balance, shop: shop.name }}</title>
    
    <meta name="description" content="{{ 'gift_cards.issued.subtext' | t }}">
    
    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 16, height: 16 }}" sizes="16x16">
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}" sizes="32x32">
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 192, height: 192 }}" sizes="192x192">
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 194, height: 194 }}" sizes="194x194">
    
      <link rel="apple-touch-icon" href="{{ settings.favicon | image_url: width: 57, height: 57 }}" sizes="57x57">
      <link rel="apple-touch-icon" href="{{ settings.favicon | image_url: width: 60, height: 60 }}" sizes="60x60">
      <link rel="apple-touch-icon" href="{{ settings.favicon | image_url: width: 72, height: 72 }}" sizes="72x72">
      <link rel="apple-touch-icon" href="{{ settings.favicon | image_url: width: 76, height: 76 }}" sizes="76x76">
      <link rel="apple-touch-icon" href="{{ settings.favicon | image_url: width: 114, height: 114 }}" sizes="114x114">
      <link rel="apple-touch-icon" href="{{ settings.favicon | image_url: width: 120, height: 120 }}" sizes="120x120">
      <link rel="apple-touch-icon" href="{{ settings.favicon | image_url: width: 152, height: 152 }}" sizes="152x152">
      <link rel="apple-touch-icon" href="{{ settings.favicon | image_url: width: 180, height: 180 }}" sizes="180x180">
    {%- endif -%}


    <!-- ===================== ! -->
    <!-- Meta Tags       ! -->
    <!-- ===================== ! -->
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- unless settings.type_header_font.system? and settings.type_special_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- unless settings.type_header_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- unless settings.type_special_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_special_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}


    <!-- ===================== ! -->
    <!-- CSS          ! -->
    <!-- ===================== ! -->
    {%- render 'base_stylesheet' -%}

    {{ 'template-giftcard.css' | asset_url | stylesheet_tag }}


    <!-- ===================== ! -->
    <!-- Head JavaScript       ! -->
    <!-- ===================== ! -->
    <script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer></script>
    
    
    <!-- ===================== ! -->
    <!-- Shopify        ! -->
    <!-- ===================== ! -->
    {{ content_for_header }}    
  </head>

  <body class="gradient gift-card">
    <header>
      <div class="gift-card__price">
        <h1>
          {{ gift_card.balance | money }}
        </h1>
        {%- if gift_card.enabled == false or gift_card.expired -%}
          <p class="gift-card__expired">{{ 'gift_cards.issued.expired' | t }}</p>
        {%- endif -%}
      </div>
      {% if gift_card.expires_on %}
        {%- assign gift_card_expiration_date = gift_card.expires_on | date: '%B %e, %Y' -%}
        <p class="gift-card__text">
          {{ 'gift_cards.issued.expiration_date' | t: expires_on: gift_card_expiration_date }}
        </p>
      {% endif %}
    </header>

    <main>
      <div class="gift-card__image-wrapper">
        {%- if settings.logo != blank -%}
          {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
          {{ settings.logo | image_url: width: 570 | image_tag: class: 'gift-card__image', alt: logo_alt }}
        {%- else %}
          <img
            class="gift-card__image"
            src="{{ 'gift-card/card.svg' | shopify_asset_url }}"
            alt=""
            height="{{ 570 | divided_by: 1.5 }}"
            width="570"
            loading="eager"
          >
        {%- endif %}
      </div>
      <h2 class="gift-card__title">{{ shop.name }}</h2>
      <div class="gift-card__text-wrapper">
        <p class="gift-card__text">{{ 'gift_cards.issued.how_to_use_gift_card' | t }}</p>
      </div>
      <p id="gift-card-code" class="gift-card__number">{{ gift_card.code | format_code }}</p>
      <div class="gift-card__qr-code" data-identifier="{{ gift_card.qr_identifier }}"></div>
      {%- if gift_card.pass_url -%}
        <a href="{{ gift_card.pass_url }}" class="gift_card__apple-wallet no-print">
          <img
            src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}"
            width="120"
            height="40"
            alt="{{ 'gift_cards.issued.add_to_apple_wallet' | t }}"
            loading="lazy"
          >
        </a>
      {%- endif -%}
      <div class="gift-card__buttons no-print">
        <span class="gift-card__copy-success form__message" role="status"></span>
        <template>
          {%- render 'icon-success' -%}
          {{ 'gift_cards.issued.copy_code_success' | t }}
        </template>
        <button class="button gift-card__copy-button">{{ 'gift_cards.issued.copy_code' | t }}</button>
        <a
          href="{{ shop.url }}"
          class="link"
          target="_blank"
          rel="noopener"
          aria-describedby="a11y-new-window-message"
        >
          {{ 'gift_cards.issued.shop_link' | t }}
        </a>
      </div>
    </main>

    <div hidden>
      <span id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</span>
    </div>
  </body>
</html>

<script>
  var string = { qrImageAlt: {{ 'gift_cards.issued.qr_image_alt' | t | json }} };
  document.addEventListener('DOMContentLoaded', function() {
   new QRCode( document.querySelector('.gift-card__qr-code'), {
    text: document.querySelector('.gift-card__qr-code').dataset.identifier,
    width: 72,
    height: 72,
    imageAltText: string.qrImageAlt
    });
  });
  var template = document.getElementsByTagName("template")[0];
  var clonedTemplate = template.content.cloneNode(true);
  var isMessageDisplayed = false
  document
  .querySelector('.gift-card__copy-button')
  .addEventListener('click', () => {
    navigator.clipboard.writeText(document.getElementById('gift-card-code').innerText).then(function () {
      if (!isMessageDisplayed) {
        document.querySelector('.gift-card__copy-success').appendChild(clonedTemplate);
        isMessageDisplayed = true
      }
    });
  });
</script>
