<li
  id="Slide-{{ section.id }}-{{ block.id }}"
  class="block-banner grid__item"
  aria-roledescription="{{ 'slider.slide' | t }}"
  tabindex="-1"
  {{ block.shopify_attributes }}
>
  <div class="banner">
    <div class="banner__media">
      {% content_for 'block', type: 'media', id: 'media' %}
    </div>

    <div
      class="
        banner__content
        {% if block.settings.desktop_remove_extra_padding %}banner__content--no-padding{% endif %}
        banner__content--{{ block.settings.desktop_content_position }}
        banner__content--mobile-{{ block.settings.mobile_content_position }}
      "
    >
      <div class="banner__box">
        {% content_for 'blocks' %}
      </div>
    </div>
  </div>
</li>

{% stylesheet %}
  .banner {
    position: relative;
  }

  .banner__content {
    position: absolute;
    width: 100%;
    display: flex;
    width: auto;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;

    pointer-events: none;
  }

  .banner__box {
    width: 100%;
    max-width: 600px;  
    background: transparent;
  }

  @media screen and (max-width: 749px) {
    

    .banner__content--mobile-below {
      width: 100%;
      position: relative;
    }

    .banner__content--mobile-below .banner__box {
      width: 100%;
      max-width: calc(var(--page-width) + (var(--page-padding) * 2));
      margin: 0 auto;
      padding: 16px var(--page-padding);
    }

    .banner__content--mobile-top {
      align-items: flex-start;
      justify-content: center;
    }

    .banner__content--mobile-top .banner__box {
      margin-top: 2rem;
    }

    .banner__content--mobile-middle {
      align-items: center;
      justify-content: center;
    }

    .banner__content--mobile-bottom {
      align-items: flex-end;
      justify-content: center;
    }

    .banner__content--mobile-bottom .banner__box {
      margin-bottom: 2rem;
    }

    .banner__box { 
      max-width: calc(100% - 2rem);
    }
  }

  @media screen and (min-width: 750px) {
    .banner__content--no-padding {
      padding: 0 !important;
    }

    .banner__content:not(.banner__content--mobile-below) {
      padding: 4rem;
    }

    .banner__content--below {
      width: 100%;
      position: relative;
    }

    .banner__content--below .banner__box {
      width: 100%;
      margin: 0 auto;
      max-width: calc(var(--page-width) + (var(--page-padding) * 2));
      padding: 16px var(--page-padding);
    }

    .banner__content--top-left {
      align-items: flex-start;
      justify-content: flex-start;
    }

    .banner__content--top-center {
      align-items: flex-start;
      justify-content: center;
    }

    .banner__content--top-right {
      align-items: flex-start;
      justify-content: flex-end;
    }

    .banner__content--middle-left {
      align-items: center;
      justify-content: flex-start;
    }

    .banner__content--middle-center {
      align-items: center;
      justify-content: center;
    }

    .banner__content--middle-right {
      align-items: center;
      justify-content: flex-end;
    }

    .banner__content--bottom-left {
      align-items: flex-end;
      justify-content: flex-start;
    }

    .banner__content--bottom-center {
      align-items: flex-end;
      justify-content: center;
    }

    .banner__content--bottom-right {
      align-items: flex-end;
      justify-content: flex-end;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Banner",
  "tag": null,
  "blocks": [
    {
      "type": "group"
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Desktop layout settings"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "below",
          "label": "Below"
        },
        {
          "value": "top-left",
          "label": "Top left"
        },
        {
          "value": "top-center",
          "label": "Top center"
        },
        {
          "value": "top-right",
          "label": "Top right"
        },
        {
          "value": "middle-left",
          "label": "Middle left"
        },
        {
          "value": "middle-center",
          "label": "Middle center"
        },
        {
          "value": "middle-right",
          "label": "Middle right"
        },
        {
          "value": "bottom-left",
          "label": "Bottom left"
        },
        {
          "value": "bottom-center",
          "label": "Bottom center"
        },
        {
          "value": "bottom-right",
          "label": "Bottom right"
        }
      ],
      "default": "middle-center",
      "label": "Content position (desktop)"
    },
    {
      "type": "checkbox",
      "id": "desktop_remove_extra_padding",
      "label": "Remove extra spacing",
      "default": false
    },
    {
      "type": "header",
      "content": "Mobile layout settings"
    },
    {
      "type": "select",
      "id": "mobile_content_position",
      "options": [
        {
          "value": "below",
          "label": "Below"
        },
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "middle",
          "label": "Middle"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "below",
      "label": "Content position (mobile)"
    }
  ],
  "presets": [
    {
      "name": "Banner",
      "category": "Media"
    }
  ]
}
{% endschema %}
