{%- if block.settings.title != blank or block.settings.description != blank -%}
  <div class="
      {{ block.settings.heading_alignment }}
      section__header
      {% if section.settings.layout == "screen-width" %}page-width{% endif %}
      {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}
    ">
    {%- if block.settings.title != blank -%}
      {%- if block.settings.header_is_h1 -%}
        <h1 class="section__title {% if link %}section__title--link{% endif %} {{ block.settings.heading_size }}">
          {{ block.settings.title }}

          {%- if link -%}
            {{ link }}
          {%- endif -%}
        </h1>
      {%- else -%}
        <h2 class="section__title {% if link %}section__title--link{% endif %} {{ block.settings.heading_size }}">
          {{ block.settings.title }}

          {%- if link -%}
            {{ link }}
          {%- endif -%}
        </h2>
      {%- endif -%}
    {%- endif -%}

    {%- if block.settings.description != blank -%}
      <div class="section__description {{ block.settings.text_style }} {{ block.settings.mobile_text_style }}">
        {{ block.settings.description }}
      </div>
    {%- endif -%}
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Section Header",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.general.section_heading"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:sections.general.header",
      "default": "Section header"
    },
    {
      "visible_if": "{{ section.settings.title != blank }}",
      "type": "checkbox",
      "id": "header_is_h1",
      "label": "t:sections.general.top_level_header",
      "default": false
    },
    {
      "visible_if": "{{ section.settings.title != blank }}",
      "type": "checkbox",
      "id": "visually_hide_header",
      "label": "t:sections.general.visually_hide_header",
      "default": false
    },
    {
      "visible_if": "{{ section.settings.title != blank }}",
      "type": "select",
      "id": "heading_size",
      "options": [
        { "value": "h5", "label": "t:sections.general.x_small" },
        { "value": "h4", "label": "t:sections.general.small" },   
        { "value": "h3", "label": "t:sections.general.medium" },
        { "value": "h2", "label": "t:sections.general.large" },
        { "value": "h1", "label": "t:sections.general.x_large" }
      ],
      "default": "h2",
      "label": "t:sections.general.header_size"
    },
    {
      "type": "inline_richtext",
      "id": "description",
      "label": "t:sections.general.description",
      "default": "This is a section header. It displays a title and description."
    },
    {
      "visible_if": "{{ section.settings.description != blank }}",
      "type": "select",
      "id": "text_style",
      "options": [
        { "value": "body--small", "label": "t:sections.general.small" },
        { "value": "body", "label": "t:sections.general.regular" },
        { "value": "body--large", "label": "t:sections.general.large" }
      ],
      "default": "body",
      "label": "t:sections.general.text_style"
    },
    {
      "visible_if": "{{ section.settings.description != blank }}",
      "type": "select",
      "id": "mobile_text_style",
      "options": [
        { "value": "body--small-mobile", "label": "t:sections.general.small" },
        { "value": "body--mobile", "label": "t:sections.general.regular" },
        { "value": "body--large-mobile", "label": "t:sections.general.large" }
      ],
      "default": "body--mobile",
      "label": "t:sections.general.mobile_text_style"
    },
    {
      "visible_if": "{{ section.settings.title != blank or section.settings.description != blank }}",
      "type": "select",
      "id": "heading_alignment",
      "label": "t:sections.general.alignment",
      "options": [
        { "value": "left", "label": "t:sections.general.left" },
        { "value": "center", "label": "t:sections.general.center" },
        { "value": "right", "label": "t:sections.general.right" }
      ],
      "default": "left"
    }
  ]
}
{% endschema %}