<button 
  class="body tab__item"
  type="button"
  role="tab" 
  id="Tab-{{ section.id }}-{{ block.settings.index }}"
  aria-controls="TabPanel-{{ section.id }}-{{ block.settings.index }}"
  {% if block.settings.index == 0 %}
    aria-selected="true"
  {% endif %}
>
  {{ block.settings.text }}
</button>

{% schema %}
{
  "name": "Tab",
  "settings": [
    {
      "type": "number",
      "id": "index",
      "label": "Index",
      "info": "t:blocks.tabbed-content.index_info",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.general.text_settings"
    },
    {
      "type": "inline_richtext",
      "id": "text",
      "label": "t:sections.general.text"
    }
  ],
  "presets": [
    {
      "name": "Tab"
    }
  ]
}
{% endschema %}