<a
  class="
    block-button
    button
    button--{{ block.settings.button_width }}
    button--{{ block.settings.button_style }}
    button--{{ block.settings.button_size }}
    {% if block.settings.button_icon != 'none' %}
      button--icon
    {% endif %}
  "

  style="
    {% if block.settings.button_width == 'custom' %}
      max-width: {{ block.settings.button_max_width }}px;
    {% endif %}
  "
  
  {% if block.settings.button_link == blank %}
    role="link" aria-disabled="true"
  {% else %}
    href="{{ block.settings.button_link }}"
  {% endif %}

  {% if block.settings.button_external %}
    target="_blank"
  {% endif %}
>
  {{- block.settings.button_label -}}
  
  {% if block.settings.button_icon != 'none' %}
    <span class="button-icon">
      {% if block.settings.button_icon == 'arrow' %}
        {% render 'icon-arrow' %}
      {% elsif block.settings.button_icon == 'custom' %}
        {{ block.settings.button_icon_custom }}
      {% endif %}
    </span>
  {% endif %}
</a>

{% schema %}
{
  "name": "Button",
  "settings": [
    {
      "type": "text",
      "id": "button_label",
      "default": "t:sections.general.text",
      "label": "Label",
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.general.link"
    },
    {
      "type": "select",
      "id": "button_style",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.general.primary"
        },
        {
          "value": "secondary",
          "label": "t:sections.general.secondary"
        }
      ],
      "default": "primary",
      "label": "t:sections.general.button_style"
    },
    {
    
      "type": "select",
      "id": "button_width",
      "options": [
        {
          "value": "auto",
          "label": "Auto"
        },
        {
          "value": "full",
          "label": "Full"
        },
        {
          "value": "custom",
          "label": "Custom"
        }
      ],
      "default": "auto",
      "label": "Button width"
    },
    {
      "visible_if": "{{ block.settings.button_width == 'custom' }}",
      "type": "range",
      "id": "button_max_width",
      "label": "Custom max width",
      "default": 120,
      "min": 0,
      "max": 600,
      "step": 10,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "button_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.general.small"
        },
        {
          "value": "",
          "label": "t:sections.general.medium"
        },
        {
          "value": "large",
          "label": "t:sections.general.large"
        }
      ],
      "default": "",
      "label": "t:sections.general.button_size"
    },
    {
      "type": "checkbox",
      "id": "button_external",
      "label": "t:sections.general.open_in_new_tab",
      "default": false
    },
    {
      "type": "select",
      "id": "button_icon",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "custom",
          "label": "Custom"
        },
        {
          "value": "arrow",
          "label": "Arrow"
        }
      ],
      "default": "none",
      "label": "t:sections.general.button_icon"
    },
    {
      "visible_if": "{{ block.settings.button_icon == 'custom' }}",
      "type": "textarea",
      "id": "button_icon_custom",
      "label": "Custom icon",
      "default": "<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M12 4L20 12L12 20L4 12L12 4Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>"
    }
  ],
  "presets": [
    {
      "name": "Button"
    }
  ]
}
{% endschema %}