<div 
  id='{{ block.id }}'
  class="
    block-group
    color-{{ block.settings.color_scheme }}
  "
  style="
    --alignment-desktop: {{ block.settings.text_alignment }};
    --alignment-mobile: {{ block.settings.text_alignment_mobile }};

    --flex-direction-desktop: {{ block.settings.flex_direction }};
    --flex-direction-mobile: {{ block.settings.flex_direction_mobile }};

    --padding-desktop: {{ block.settings.padding }}rem;
    --padding-mobile: {{ block.settings.padding_mobile }}rem;

    --gap-desktop: {{ block.settings.gap }}rem;
    --gap-mobile: {{ block.settings.gap_mobile }}rem;  

    {% if block.settings.background_color != blank and block.settings.background_color.alpha != 0 %}
      background-color: {{ block.settings.background_color }};
    {% endif %}

    {% if block.settings.text_color != blank and block.settings.text_color.alpha != 0 %}
      color: {{ block.settings.text_color }};
    {% endif %}
  "
>
  {% content_for 'blocks' %}
</div>

{% stylesheet %}
  .block-group {
    display: flex;    
    flex-direction: var(--flex-direction-desktop);
    gap: var(--gap-desktop);
    padding: var(--padding-desktop);

    text-align: var(--alignment-desktop);
    justify-content: var(--alignment-desktop);
  }

  @media screen and (max-width: 749px) {
    .block-group {
      flex-direction: var(--flex-direction-mobile);
      gap: var(--gap-mobile);
      padding: var(--padding-mobile);

      text-align: var(--alignment-mobile);
      justify-content: var(--alignment-mobile);
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Group",
  "tag": null,
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Desktop settings"
    },
    {
      "type": "select",
      "id": "flex_direction",
      "label": "Direction",
      "options": [
        {
          "value": "row",
          "label": "Row"
        },
        {
          "value": "column",
          "label": "Column"
        }
      ],
      "default": "column"
    },
    {
      "type": "select",
      "id": "gap",
      "label": "Gap",
      "options": [
        { "value": "0.25", "label": "0.25rem" },
        { "value": "0.5", "label": "0.5rem" },
        { "value": "0.75", "label": "0.75rem" },
        { "value": "1", "label": "1rem" },
        { "value": "1.25", "label": "1.25rem" },
        { "value": "1.5", "label": "1.5rem" },
        { "value": "1.75", "label": "1.75rem" },
        { "value": "2", "label": "2rem" },
        { "value": "2.25", "label": "2.25rem" },
        { "value": "2.5", "label": "2.5rem" }
      ],
      "default": "1"
    },
    {
      "type": "text_alignment",
      "id": "text_alignment",
      "default": "left",
      "label": "Text alignment"
    },
    {
      "type": "range",
      "id": "padding",
      "label": "Padding",
      "default": 0,
      "min": 0,
      "max": 4,
      "step": 0.5,
      "unit": "rem"
    },
    {
      "type": "header",
      "content": "Mobile settings"
    },
    {
      "type": "select",
      "id": "flex_direction_mobile",
      "label": "Direction (mobile)",
      "options": [
        {
          "value": "row",
          "label": "Row"
        },
        {
          "value": "column",
          "label": "Column"
        }
      ],
      "default": "column"
    },
    {
      "type": "select",
      "id": "gap_mobile",
      "label": "Gap (mobile)",
      "options": [
        { "value": "0.25", "label": "0.25rem" },
        { "value": "0.5", "label": "0.5rem" },
        { "value": "0.75", "label": "0.75rem" },
        { "value": "1", "label": "1rem" },
        { "value": "1.25", "label": "1.25rem" },
        { "value": "1.5", "label": "1.5rem" },
        { "value": "1.75", "label": "1.75rem" },
        { "value": "2", "label": "2rem" },
        { "value": "2.25", "label": "2.25rem" },
        { "value": "2.5", "label": "2.5rem" }
      ],
      "default": "1"
    },
    {
      "type": "text_alignment",
      "id": "text_alignment_mobile",
      "default": "left",
      "label": "Text alignment (mobile)"
    },
    {
      "type": "range",
      "id": "padding_mobile",
      "label": "Padding (mobile)",
      "default": 1,
      "min": 0,
      "max": 4,
      "step": 0.5,
      "unit": "rem"
    },    
    {
      "type": "header",
      "content": "Style overrides"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color"
    }
  ],
  "presets": [
    {
      "name": "Group",
      "category": "Layout"
    }
  ]
}
{% endschema %}
