{% capture link_icon %}
  {% if block.settings.link_icon != 'none' %}
    <span class="link-icon">
      {% if block.settings.link_icon == 'custom' %}
        {{ block.settings.link_icon_custom }}
      {% endif %}
    </span>
  {% endif %}
{% endcapture %}

<a
  class="
    block-link
    link
    link--{{ block.settings.link_style }}
    {% if block.settings.link_icon != 'none' %}
      link--icon
    {% endif %}
  "
  {% if block.settings.link_url == blank %}
    role="link" aria-disabled="true"
  {% else %}
    href="{{ block.settings.link_url }}"
  {% endif %}
  {% if block.settings.link_external %}
    target="_blank"
  {% endif %}
>
  {% if block.settings.icon_placement == 'before' %}
    {{ link_icon }}
  {% endif %}

  {{- block.settings.text -}}

  {% if block.settings.icon_placement == 'after' %}
    {{ link_icon }}
  {% endif %}
</a>

{% schema %}
{
  "name": "Link",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "default": "t:sections.general.text",
      "label": "Label"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "t:sections.general.link"
    },
    {
      "type": "select",
      "id": "link_style",
      "options": [
        {
          "value": "",
          "label": "t:sections.general.default"
        },
        {
          "value": "link--underlined",
          "label": "Underlined"
        },
        {
          "value": "link--unstyled",
          "label": "Unstyled"
        },
        {
          "value": "link--text",
          "label": "Text"
        },
        {
          "value": "link--hover",
          "label": "Hover"
        }
      ],
      "default": "",
      "label": "Link style"
    },
    {
      "type": "checkbox",
      "id": "link_external",
      "label": "t:sections.general.open_in_new_tab",
      "default": false
    },
    {
      "type": "select",
      "id": "icon_placement",
      "options": [
        {
          "value": "before",
          "label": "Before"
        },
        {
          "value": "after",
          "label": "After"
        }
      ],
      "default": "before",
      "label": "Icon placement"
    },
    {
      "type": "select",
      "id": "link_icon",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "custom",
          "label": "Custom"
        },
        {
          "value": "arrow",
          "label": "Arrow"
        }
      ],
      "default": "none",
      "label": "t:sections.general.button_icon"
    },
    {
      "visible_if": "{{ block.settings.link_icon == 'custom' }}",
      "type": "textarea",
      "id": "link_icon_custom",
      "label": "Custom icon",
      "default": "<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M12 4L20 12L12 20L4 12L12 4Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>"
    }
  ],
  "presets": [
    {
      "name": "Link"
    }
  ]
}
{% endschema %}
