<div id="CartItem-{{ index }}" class="cart__item">
  <div class="cart__item-image">
    <a href="{{ item.url }}" class="cart-item__link" tabindex="-1" aria-hidden="true">
      <div class="media media--square">
        {% if item.image %}
          <img
            src="{{ item.image | image_url: width: 300 }}"
            alt="{{ item.image.alt | escape }}"
            loading="lazy"
            width="150"
            height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
          >
        {% endif %}
      </div>
    </a>
  </div>

  <div class="cart__item-info">
    <a href="{{ item.url }}" class="cart__item-name link--unstyled body {% if type == "cart" %}bold{% endif %}">
      {{- item.product.title | escape -}}
    </a>

    <div class="cart__prices">
      <div class="cart__price body">
        {%- if item.final_price == 0 -%}
          <span class="cart__price-final">
            {{ 'general.cart.free' | t }}
          </span>
        {%- elsif item.selling_plan_allocation.compare_at_price -%}
          <span class="visually-hidden">
            {{ 'products.product.price.regular_price' | t }}
          </span>
          <s class="cart__price-old">
            {{- item.selling_plan_allocation.compare_at_price | money | replace: '.00', '' -}}
          </s>
          <span class="visually-hidden">
            {{ 'products.product.price.sale_price' | t }}
          </span>
          <span class="cart__price-final">
            {{ item.selling_plan_allocation.price | money | replace: '.00', '' }}
          </span>
        {%- elsif item.original_price != item.final_price -%}
          <span class="visually-hidden">
            {{ 'products.product.price.regular_price' | t }}
          </span>
          <s class="cart__price-old">
            {{- item.original_price | money | replace: '.00', '' -}}
          </s>
          <span class="visually-hidden">
            {{ 'products.product.price.sale_price' | t }}
          </span>
          <span class="cart__price-final">
            {{ item.final_price | money | replace: '.00', '' }}
          </span>
        {%- else -%}
          <span class="cart__price-final">
            {{ item.final_price | money | replace: '.00', '' }}
          </span>
        {%- endif -%}
      </div>

      {%- if item.line_level_discount_allocations or item.selling_plan_allocation -%}
        <ul
          class="cart__discounts list--unstyled body body--small"
          role="list"
          aria-label="{{ 'customer.order.discount' | t }}"
        >
          {%- for discount in item.line_level_discount_allocations -%}
            <li class="cart__discount cart__discount--discount">
              {{ discount.discount_application.title }}
            </li>
          {%- endfor -%}

          {%- if item.selling_plan_allocation -%}
            <li class="cart__discount cart__discount--selling-plan">
              {{
                'general.selling_plan.auto_renew'
                | t: percent: item.selling_plan_allocation.selling_plan.price_adjustments.first.value
              }}
            </li>
          {%- endif -%}
        </ul>
      {%- endif -%}
    </div>

    {%- if item.variant.title != 'Default Title' -%}
      <div class="cart__item-option body">
        {{ item.variant.title }}
      </div>
    {%- endif -%}

    {%- if item.properties.size != 0 -%}
      {%- for property in item.properties -%}
        {%- unless property.first.first == '_' -%}
          <div class="cart__item-option body">
            <span class="bold">{{ property.first }}:</span> {{ property.last }}
          </div>
        {%- endunless -%}
      {%- endfor -%}
    {%- endif -%}

    {%- if item.selling_plan_allocation != null -%}
      <div class="cart__item-option body body--small">
        {{ item.selling_plan_allocation.selling_plan.name }}
      </div>
    {%- endif %}

    <div id="CartDrawer-LineItemError-{{ item.index | plus: 1 }}">
      <small class="cart-item__error-text"></small>
    </div>

    {%- if item.item_components != blank %}
      <input
        class="quantity__input"
        type="hidden"
        data-quantity-variant-id="{{ item.variant.id }}"
        name="updates[]"
        value="{{ item.quantity }}"
        data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
        id="CartQuantity-{{ item.index | plus: 1 }}"
        data-index="{{ item.index | plus: 1 }}"
      >

      <ul class="cart__item-components list--unstyled">
        {%- for component in item.item_components -%}
          <li class="cart__item-component body body--small">
            {{ component.product.title | escape }}
          </li>
        {%- endfor -%}
      </ul>
    {%- else -%}
      <quantity-input class="cart__quantity">
        <span class="cart__quantity-label body body--small">{{ 'sections.cart.quantity' | t }}</span>

        <button class="quantity__button cart__quantity-button" name="minus" type="button">
          <span class="visually-hidden">
            {{- 'products.product.quantity.decrease' | t: product: item.product.title | escape -}}
          </span>
          {% render 'icon-minus' %}
        </button>
        <input
          class="cart__quantity-input"
          type="number"
          data-quantity-variant-id="{{ item.variant.id }}"
          name="updates[]"
          value="{{ item.quantity }}"
          {% # theme-check-disable %}
          data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
          min="0"
          data-min="0"
          {% if item.variant.quantity_rule.max != null %}
            max="{{ item.variant.quantity_rule.max }}"
          {% endif %}
          step="{{ item.variant.quantity_rule.increment }}"
          {% # theme-check-enable %}
          aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
          id="CartQuantity-{{ item.index | plus: 1 }}"
          data-index="{{ item.index | plus: 1 }}"
        >
        <button class="quantity__button cart__quantity-button" name="plus" type="button">
          <span class="visually-hidden">
            {{- 'products.product.quantity.increase' | t: product: item.product.title | escape -}}
          </span>
          {% render 'icon-plus' %}
        </button>
      </quantity-input>
    {%- endif -%}
  </div>

  <div class="cart__remove">
    <cart-remove-button
      id="CartDrawer-Remove-{{ item.index | plus: 1 }}"
      data-index="{{ item.index | plus: 1 }}"
    >
      <button
        type="button"
        class="cart__remove-button link link--unstyled"
        aria-label="{{ 'sections.cart.remove_title' | t: title: item.title | escape }}"
        data-variant-id="{{ item.variant.id }}"
      >
        {% render 'icon-close' %}
      </button>
    </cart-remove-button>
  </div>
</div>
