{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header_drawer' %}
{% endcomment %}

<menu-drawer class="
    header__menu-drawer
    {% unless show_desktop %}hidden--desktop{% endunless %}
  ">
  <details id="Details-menu-drawer-container" class="menu-drawer-container">
    <summary
      class="header__icon header__icon--menu link"
      aria-label="{{ 'sections.header.menu' | t }}"
    >
      {% render 'icon-hamburger' %}
    </summary>
    <div
      id="menu-drawer"
      class="gradient drawer drawer--left motion-reduce color-{{ section.settings.menu_color_scheme }}"
    >
      <div id="HeaderDrawer-Overlay" class="drawer__overlay"></div>

      <div
        class="drawer__container color-{{ section.settings.menu_color_scheme }}"
        role="dialog"
        aria-modal="true"
        aria-label=""
        tabindex="-1"
      >
        <button
          class="drawer__close drawer__close--absolute link link--unstyled"
          type="button"
          aria-label="{{ 'accessibility.close' | t }}"
        >
          {% render 'icon-close' %}
        </button>

        <div class="drawer__content drawer__content--navigation">
          <nav class="navigation-drawer">
            {%- if logo_image != blank -%}
              <div class="navigation-drawer__logo">
                {{ logo_image }}
              </div>
            {%- endif -%}

            <ul class="navigation-drawer__items list--unstyled" role="list">
              {%- for block in section.blocks -%}
                {%- if block.type != 'mega_menu' %}
                  {%- continue -%}
                {%- endif -%}

                <li class="navigation-drawer__item">
                  {%
                    if block.settings.menu == blank
                    and block.settings.image_1 == blank
                    and block.settings.image_2 == blank
                    and block.settings.image_3 == blank
                    and block.settings.image_4 == blank
                    and block.settings.video_1 == blank
                    and block.settings.video_2 == blank
                  -%}
                    <a
                      href="{{ block.settings.parent_link }}"
                      class="link link--unstyled navigation-drawer__parent h3"
                    >
                      {{ block.settings.title }}
                    </a>
                  {%- else -%}
                    <accordion-custom>
                      <details class="navigation-drawer__details">
                        <summary class="link link--unstyled navigation-drawer__parent h3">
                          {{ block.settings.title }}
                          {% render 'icon-plus' %}
                        </summary>
                        <nav class="navigation-drawer__menu color-{{ section.settings.menu_color_scheme }}">
                          <ul class="navigation-drawer__items list--unstyled" role="list">
                            {% for link in block.settings.menu.links %}
                              {% if link.title == blank %}
                                <li class="navigation-drawer__item">
                                  <a
                                    href="{{ link.url }}"
                                    class="link link--unstyled navigation-drawer__parent h3"
                                  >
                                    {{ link.title }}
                                  </a>
                                </li>
                              {% else %}
                                <li class="navigation-drawer__item">
                                  <details class="navigation-drawer__details">
                                    <summary class="link link--unstyled navigation-drawer__parent h3">
                                      {{ link.title }}
                                      {% render 'icon-plus' %}
                                    </summary>
                                    <ul class="navigation-drawer__submenu list--unstyled">
                                      {%- for sublink in link.links -%}
                                        <li class="navigation-drawer__item">
                                          <a
                                            href="{{ sublink.url }}"
                                            class="link link--unstyled navigation-drawer__link"
                                          >
                                            {{ sublink.title }}
                                          </a>
                                        </li>
                                      {%- endfor -%}
                                    </ul>
                                  </details>
                                </li>
                              {% endif %}
                            {% endfor %}
                          </ul>

                          {%-
                            if block.settings.image_1 != blank
                            or block.settings.image_2 != blank
                            or block.settings.image_3 == blank
                            or block.settings.image_4 == blank
                            or block.settings.video_1 != blank
                            or block.settings.video_2 != blank
                            or block.settings.video_3 != blank
                            or block.settings.video_4 != blank
                          -%}
                            {%- assign image_count = 0 -%}
                            {%- for i in (1..4) -%}
                              {% assign image = 'image_' | append: i %}
                              {% assign video = 'video_' | append: i %}

                              {% if block.settings[image] != blank or block.settings[video] != blank %}
                                {% assign image_count = image_count | plus: 1 %}
                              {% endif %}
                            {% endfor %}

                            <slider-component>
                              <ul
                                id="Slider-NavigationDrawer-{{ block.id }}"
                                class="
                                  navigation-drawer__images
                                  navigation-drawer__images--{{ block.settings.mobile_format }}
                                  slider
                                  {% if block.settings.mobile_format == 'slider' %}slider--mobile{% endif %}
                                "
                              >
                                {%- for i in (1..4) -%}
                                  {% assign image = 'image_' | append: i %}
                                  {% assign video = 'video_' | append: i %}

                                  {% assign title = 'title_' | append: i %}
                                  {% assign text = 'text_' | append: i %}
                                  {% assign link_text = 'link_text_' | append: i %}
                                  {% assign link_url = 'link_url_' | append: i %}

                                  {% if block.settings[image] != blank or block.settings[video] != blank %}
                                    <li
                                      id="Slide-NavigationDrawer-{{ block.id }}-{{ forloop.index }}"
                                      class="grid__item slider__slide navigation-drawer__image"
                                    >
                                      <a href="{{ block.settings[link_url] }}" class="link link--unstyled">
                                        <div
                                          class="media media--{{ block.settings.image_aspect_ratio }}"
                                          {% if block.settings.image_aspect_ratio == 'adapt' %}
                                            {% if block.settings[video] != blank %}
                                              style="padding-bottom: {{ 1 | divided_by: block.settings[video].aspect_ratio | times: 100 }}%;"
                                            {% else %}
                                              style="padding-bottom: {{ 1 | divided_by: block.settings[image].aspect_ratio | times: 100 }}%;"
                                            {% endif %}
                                          {% endif %}
                                        >
                                          {%- if block.settings[video] != blank -%}
                                            {{
                                              block.settings[video]
                                              | video_tag:
                                              image_size: '400x',
                                              autoplay: true,
                                              loop: true,
                                              controls: false,
                                              muted: true
                                            }}
                                          {%- else -%}
                                            {{
                                              block.settings[image]
                                              | image_url: width: 400
                                              | image_tag:
                                              height: block.settings[image].height,
                                              width: block.settings[image].width,
                                              alt: block.settings[image].alt,
                                              lazy: true
                                            }}
                                          {%- endif -%}
                                        </div>
                                      </a>

                                      <div class="navigation-drawer__image-content">
                                        {%- if block.settings[title] != blank -%}
                                          <h3 class="navigation-drawer__image-title">
                                            {{ block.settings[title] }}
                                          </h3>
                                        {%- endif -%}

                                        {%- if block.settings[text] != blank -%}
                                          <p class="navigation-drawer__image-text">
                                            {{ block.settings[text] }}
                                          </p>
                                        {%- endif -%}

                                        {%- if block.settings[link_text] != blank -%}
                                          <a
                                            href="{{ block.settings[link_url] }}"
                                            class="link link--underlined link--arrow navigation-drawer__image-link"
                                          >
                                            {{- block.settings[link_text] -}}
                                          </a>
                                        {%- endif -%}
                                      </div>
                                    </li>
                                  {% endif %}
                                {% endfor %}
                              </ul>
                            </slider-component>
                          {%- endif -%}
                        </nav>
                      </details>
                    </accordion-custom>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>

            {%-
              if section.settings.menu_image_1 != blank
              or section.settings.menu_image_2 != blank
              or section.settings.menu_video_1 != blank
              or section.settings.menu_video_2 != blank
            -%}
              <slider-component>
                <ul
                  id="Slider-NavigationDrawer-{{ section.id }}"
                  class="
                    navigation-drawer__images
                    navigation-drawer__images--{{ block.settings.mobile_format }}
                    slider
                    {% if block.settings.mobile_format == 'slider' %}slider--mobile{% endif %}
                  "
                >
                  {%- for i in (1..2) -%}
                    {% assign image = 'menu_image_' | append: i %}
                    {% assign video = 'menu_video_' | append: i %}

                    {% assign title = 'menu_title_' | append: i %}
                    {% assign text = 'menu_text_' | append: i %}
                    {% assign link_text = 'menu_link_text_' | append: i %}
                    {% assign link_url = 'menu_link_url_' | append: i %}

                    {% if section.settings[image] != blank or section.settings[video] != blank %}
                      <li
                        id="Slide-NavigationDrawer-{{ section.id }}-{{ forloop.index }}"
                        class="grid__item slider__slide navigation-drawer__image"
                      >
                        <a href="{{ section.settings[link_url] }}" class="link link--unstyled">
                          <div
                            class="media media--{{ section.settings.menu_image_aspect_ratio }}"
                            {% if section.settings.menu_image_aspect_ratio == 'adapt' %}
                              {% if section.settings[video] != blank %}
                                style="padding-bottom: {{ 1 | divided_by: section.settings[video].aspect_ratio | times: 100 }}%;"
                              {% else %}
                                style="padding-bottom: {{ 1 | divided_by: section.settings[image].aspect_ratio | times: 100 }}%;"
                              {% endif %}
                            {% endif %}
                          >
                            {%- if section.settings[video] != blank -%}
                              {{
                                section.settings[video]
                                | video_tag:
                                image_size: '400x',
                                autoplay: true,
                                loop: true,
                                controls: false,
                                muted: true
                              }}
                            {%- else -%}
                              {{
                                section.settings[image]
                                | image_url: width: 400
                                | image_tag:
                                height: section.settings[image].height,
                                width: section.settings[image].width,
                                alt: section.settings[image].alt,
                                lazy: true
                              }}
                            {%- endif -%}
                          </div>
                        </a>

                        <div class="navigation-drawer__image-content">
                          {%- if section.settings[title] != blank -%}
                            <h3 class="navigation-drawer__image-title">{{ section.settings[title] }}</h3>
                          {%- endif -%}

                          {%- if section.settings[text] != blank -%}
                            <p class="navigation-drawer__image-text">{{ section.settings[text] }}</p>
                          {%- endif -%}

                          {%- if section.settings[text] != blank -%}
                            <a
                              href="{{ section.settings[link_text] }}"
                              class="link link--underlined link--arrow navigation-drawer__image-link"
                            >
                              {{- section.settings[link_text] -}}
                            </a>
                          {%- endif -%}
                        </div>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </slider-component>
            {%- endif -%}
          </nav>
        </div>
      </div>
    </div>
  </details>
</menu-drawer>
