{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}
{%- unless product.has_only_default_variant and product.metafields.custom.siblings == blank -%}
  <variant-selects
    id="variant-selects-{{ section.id }}"
    data-section="{{ section.id }}"
    {{ block.shopify_attributes }}
    data-selected-variant="{{ product.selected_or_first_available_variant | json }}"
  >
    {%- if product.metafields.custom.siblings != blank -%}
      <fieldset class="js product-form__input product-form__input--siblings">
        <legend class="product-form__label">
          <span class="h3">{{ block.settings.siblings_title }}:</span> {{ product.title }}
        </legend>
        <div class="product-form__pills body--small">
          {%
            render 'product-sibling-options',
            block: block,
            product_form_id: product_form_id
          %}
        </div>
      </fieldset>
    {%- endif -%}

    {% unless product.has_only_default_variant %}
      {%- for option in product.options_with_values -%}
        {%- if block.settings.picker_type == 'dropdown' -%}
          <div class="product-form__input product-form__input--{{option.name | handle }}">
            <label class="product-form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
              <span class="h3">{{ option.name }}:</span> {{ option.selected_value.name }}
            </label>
            <div class="field field--select">
              <select
                id="Option-{{ section.id }}-{{ forloop.index0 }}"
                class="field__select"
                name="options[{{ option.name | escape }}]"
                form="{{ product_form_id }}"
              >
                {% render 'product-variant-options', product: product, option: option, block: block %}
              </select>
              {% render 'icon-caret' %}
            </div>
          </div>
        {%- else -%}
          <fieldset class="js product-form__input product-form__input--{{option.name | handle }}">
            <legend class="product-form__label">
              <span class="h3">{{ option.name }}:</span> {{ option.selected_value.name }}
            </legend>
            <div class="product-form__pills body--small">
              {%
                render 'product-variant-options',
                product: product,
                option: option,
                block: block,
                product_form_id: product_form_id
              %}
            </div>
          </fieldset>
        {%- endif -%}
      {%- endfor -%}
    {% endunless %}

    <script type="application/json" data-selected-variant>
      {{ product.selected_or_first_available_variant | json }}
    </script>
  </variant-selects>
{%- endunless -%}
