{%- assign hide_thumbnails_desktop = true -%}
{%- assign hide_thumbnails_mobile = true -%}

{%- if section.settings.gallery_type_desktop == 'carousel' and section.settings.display_thumbnails_desktop -%}
  {%- assign hide_thumbnails_desktop = false -%}
{%- endif -%}

{%- if section.settings.gallery_type_mobile == 'carousel' and section.settings.display_thumbnails_mobile -%}
  {%- assign hide_thumbnails_mobile = false -%}
{%- endif -%}

{%- assign accepted_media_indeces = '' -%}
{%- assign shared_media_indeces = '' -%}

{%- if section.settings.only_variants_gallery -%}
  {%- for media in product.media -%}
    {%- assign alt = media.alt | split: '|' | first | strip -%}

    {%- if alt == product.selected_or_first_available_variant.option1 or media.id == product.selected_or_first_available_variant.featured_media.id -%}
      {%- assign accepted_media_indeces = accepted_media_indeces | append: media.id | append: ',' -%}
    {%- elsif alt == media.alt -%}
      {%- assign shared_media_indeces = shared_media_indeces | append: media.id | append: ',' -%}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

{%- assign accepted_media_indeces = accepted_media_indeces -%}
{%- assign shared_media_indeces = shared_media_indeces -%}

{%- capture thumbnails -%}
  <div class="
      media-gallery__thumbnails
      {% if hide_thumbnails_desktop == false and section.settings.thumbnail_position == "left" %}media-gallery__thumbnails--vertical{% endif %}
      {% if section.settings.display_thumbnails_as_dots %}media-gallery__thumbnails--dots{% endif %}
      {% if hide_thumbnails_desktop %}hidden--desktop{% endif %}
      {% if hide_thumbnails_mobile %}hidden--mobile{% endif %}
    ">
    <slider-component id="GalleryThumbnails-{{ section.id }}">
      <ul
        id="Slider-Thumbnails-{{ section.id }}"
        class="grid slider slider--mobile slider--desktop media-gallery__thumbnail-list"
      >
        {%- capture sizes -%}
          (min-width: 750px) 150px, calc((100vw) / 3)
        {%- endcapture -%}

        {%- assign first = true -%}
        {%- for media in product.media -%}
          {%- assign display = false -%}

          {%- if section.settings.only_variants_gallery -%}
            {%- if product.selected_or_first_available_variant -%}
              {%- if accepted_media_indeces contains media.id -%}
                {%- assign display = true -%}
              {%- endif -%}

              {%- if section.settings.always_others_gallery -%}
                {%- if shared_media_indeces contains media.id -%}
                  {%- assign display = true -%}
                {%- endif -%}
              {%- endif -%}
            {%- else -%}
              {%- if shared_media_indeces contains media.id -%}
                {%- assign display = true -%}
              {%- endif -%}
            {%- endif -%}
          {%- else -%}
            {%- assign display = true -%}
          {%- endif -%}

          {%- if display -%}
            <li
              id="Slide-Thumbnails-{{ section.id }}-{{ forloop.index }}"
              class="slider__slide media-gallery__thumbnail {% if section.settings.display_thumbnails_as_dots %}media-gallery__thumbnail--dot{% endif %}"
              data-target="{{ section.id }}-{{ media.id }}"
              data-media-position="{{ forloop.index }}"
            >
              {%- capture thumbnail_id -%}
                Thumbnail-{{ section.id }}-{{ forloop.index }}
              {%- endcapture -%}

              <button
                class="media-gallery__thumbnail-button {% if section.settings.display_thumbnails_as_dots %}slider-counter__link--dots{% endif %} link link--unstyled"
                aria-label="
                  {%- if media.media_type == 'image' -%}{{ 'products.product.media.load_image' | t: index: media_index }}
                  {%- elsif media.media_type == 'model' -%}{{ 'products.product.media.load_model' | t: index: media_index }}
                  {%- elsif media.media_type == 'video' or media.media_type == 'external_video' -%}{{ 'products.product.media.load_video' | t: index: media_index }}{%- endif -%}
                "
                {% if first %}
                  aria-current="true"
                {% endif %}
                aria-controls="GalleryViewer-{{ section.id }}"
                aria-describedby="{{ thumbnail_id }}"
              >
                {% if section.settings.display_thumbnails_as_dots %}
                  <span class="dot hidden--desktop"></span>
                  <span class="visually-hidden">
                    {{ 'products.product.media.load_image' | t: index: media.alt }}
                  </span>
                {% endif %}

                <div class="media media--{{ section.settings.aspect_ratio }} {% if section.settings.display_thumbnails_as_dots %}hidden--mobile{% endif %}">
                  {{
                    media.preview_image
                    | image_url: width: 416
                    | image_tag:
                    loading: 'lazy',
                    sizes: sizes,
                    widths: '54, 74, 104, 162, 208, 324, 416',
                    id: thumbnail_id,
                    alt: media.alt
                    | escape
                  }}
                </div>
              </button>

              {%- if media.media_type == 'model' -%}
                <span class="media-gallery__thumbnail-badge" aria-hidden="true">
                  {%- render 'icon-3d-model' -%}
                </span>
              {%- elsif media.media_type == 'video' or media.media_type == 'external_video' -%}
                <span class="media-gallery__thumbnail-badge" aria-hidden="true">
                  {%- render 'icon-play' -%}
                </span>
              {%- endif -%}
            </li>

            {%- assign first = false -%}
          {%- endif -%}
        {%- endfor -%}
      </ul>

      {%- render 'slider_controls', arrows: true -%}
    </slider-component>
  </div>
{%- endcapture -%}

<media-gallery
  id="MediaGallery-{{ section.id }}"
  role="region"
  class="
    media-gallery
    {% if hide_thumbnails_desktop == false and section.settings.thumbnail_position == "left" %}media-gallery--horizontal{% endif %}
    media-gallery--{{ section.settings.gallery_type_desktop }}-desktop
    media-gallery--{{ section.settings.gallery_type_mobile }}-mobile
  "
  aria-label="{{ 'products.product.media.gallery_viewer' | t }}"
>
  <div id="GalleryStatus-{{ section.id }}" class="visually-hidden" role="status"></div>

  {%- if section.settings.thumbnail_position == 'left' -%}
    {{ thumbnails }}
  {%- endif -%}

  <div class="media-gallery__images {% if section.settings.image_zoom == "lightbox" %}media-gallery__images--zoom{% endif %}">
    <slider-component id="GalleryViewer-{{ section.id }}" class="media-gallery__images-slider">
      <ul
        id="Slider-Gallery-{{ section.id }}"
        class="
          grid
          list--unstyled
          slider
          product__media-list
          {% if section.settings.gallery_type_desktop == "carousel" %}
            slider--desktop
            grid--1-col-desktop
          {% else %}
            grid--{{ section.settings.gallery_grid_columns_desktop }}-col-desktop
          {% endif %}
          {% if section.settings.gallery_type_mobile == "carousel" %}
            slider--mobile
            grid--1-col-mobile
          {% else %}
            grid--{{ section.settings.gallery_grid_columns_mobile }}-col-mobile
          {% endif %}
        "
        role="list"
      >
        {%- assign first = true -%}

        {%- for media in product.media -%}
          {%- assign display = false -%}

          {%- if section.settings.only_variants_gallery -%}
            {%- if product.selected_or_first_available_variant -%}
              {%- if accepted_media_indeces contains media.id -%}
                {%- assign display = true -%}
              {%- endif -%}

              {%- if section.settings.always_others_gallery -%}
                {%- if shared_media_indeces contains media.id -%}
                  {%- assign display = true -%}
                {%- endif -%}
              {%- endif -%}
            {%- else -%}
              {%- if shared_media_indeces contains media.id -%}
                {%- assign display = true -%}
              {%- endif -%}
            {%- endif -%}
          {%- else -%}
            {%- assign display = true -%}
          {%- endif -%}

          {%- if display -%}
            <li
              id="Slide-{{ section.id }}-{{ media.id }}"
              class="product__media-item grid__item slider__slide {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
              data-media-id="{{ section.id }}-{{ media.id }}"
            >
              {%- liquid
                assign lazy_load = false

                unless first
                  assign lazy_load = true
                endunless
              -%}

              {%
                render 'product_media',
                media: media,
                position: forloop.index,
                loop: section.settings.enable_video_looping,
                modal_id: section.id,
                xr_button: true,
                lazy_load: lazy_load
              %}
            </li>
            {%- assign first = false -%}
          {%- endif -%}
        {%- endfor -%}
      </ul>

      {% if section.settings.gallery_type_desktop == "carousel" %}
        {%- assign hide_desktop_carousel = false -%}
      {% endif %}

      {% if section.settings.gallery_type_mobile == "carousel" %}
        {%- assign hide_mobile_carousel = false -%}
      {% endif %}

      {%- render 'slider_controls', arrows: true, hide_desktop: hide_desktop_carousel, hide_mobile: hide_mobile_carousel -%}
    </slider-component>
  </div>

  {%- unless section.settings.thumbnail_position == 'left' -%}
    {{ thumbnails }}
  {%- endunless -%}

  {%- if first_3d_model -%}
    <button
      class="button product__xr-button"
      type="button"
      aria-label="{{ 'products.product.xr_button_label' | t }}"
      data-shopify-xr
      data-shopify-model3d-id="{{ first_3d_model.id }}"
      data-shopify-title="{{ product.title | escape }}"
      data-shopify-xr-hidden
    >
      {% render 'icon-3d-model' %}
      {{ 'products.product.xr_button' | t }}
    </button>
  {%- endif -%}
</media-gallery>
