{{ 'product_sticky.css' | asset_url | stylesheet_tag }}
<script src="{{ 'product_sticky.js' | asset_url }}" defer="defer"></script>

<sticky-product
  data-sticky-header="{{ header_sticky }}"
  data-section-id="{{ section.id }}"
  id="ProductSticky-{{ section.id }}"
  class="color-{{ section.settings.sticky_color }}"
>
  <div class="product-sticky">
    <div class="product-sticky__inner page-width">
      <div class="product-sticky__info hidden--mobile">
        <h2 class="product-sticky__title h4">{{ product.title | escape }}</h2>

        <span></span>

        <div class="product-sticky__price">
          {%- render 'price', product: product, use_variant: true, class: 'h4' -%}
        </div>
      </div>

      <div class="product-sticky__actions">
        <product-form data-section-id="{{ section.id }}">
          {%- form 'product', product -%}
            <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">

            <button
              type="submit"
              name="add"
              class="product-sticky__submit button button--outline"
              {%
                if product.selected_or_first_available_variant.available == false
                or product.selected_or_first_available_variant == null
              %}
                disabled
              {% endif %}
            >
              <span>
                {%- if product.selected_or_first_available_variant == nil -%}
                  {{ 'products.product.unavailable' | t }}
                {%- elsif product.selected_or_first_available_variant.available == false -%}
                  {{ 'products.product.sold_out' | t }}
                {%- else -%}
                  {%- if product.metafields.custom.add_to_cart_text -%}
                    {{ product.metafields.custom.add_to_cart_text }}
                  {%- else -%}
                    {{ 'products.product.add_to_cart' | t }}
                  {%- endif -%}
                {%- endif -%}
              </span>
              {%- render 'loading-spinner' -%}
            </button>
          {%- endform -%}
        </product-form>
      </div>
    </div>
  </div>
</sticky-product>
