<quickbuy-component
  id="Quickbuy-{{ section.id }}-{{ product.id }}"
  class="quickbuy"
>
  <div class="quickbuy__image">
    <div class="media media--square">
      {{ product.featured_image | image_url: width: 1200 | image_tag: sizes: '600px', widths: '600, 800, 100, 1200' }}
    </div>
  </div>

  <div class="quickbuy__details">
    <div class="quickbuy__text">
      <h1 class="body body--small bold">{{ product.title | escape }}</h1>
      <span class="body">{{ product.type }}</span>
    </div>

    <div class="quickbuy__text body--small">
      <a class="link body--small" href="/collections/{{ product.vendor | handleize }}">{{ product.vendor }}</a>

      <span class="body--small {{ product.metafields.custom.gender | handleize }}">
        {{ product.metafields.custom.gender | upcase }}
      </span>
    </div>

    <div class="quickbuy__variants">
      {%- for variant in product.variants -%}
        {%- assign form_id = 'QuickbuyForm-' | append: section.id | append: '-' | append: variant.id %}

        {% liquid
          if variant.metafields.custom.disabled
            continue
          endif

          assign option_disabled = true
          if variant.available
            assign option_disabled = false
          endif
        %}

        <div class="quickbuy__variant-pill">
          <product-form data-section-id="Quickbuy-{{ section.id }}-{{ product.id }}">
            {%- form 'product', product, id: form_id -%}
              <input
                type="hidden"
                name="id"
                value="{{ variant.id }}"
                {% if option_disabled %}
                  disabled
                {% endif %}
              >

              <button
                type="submit"
                class="quickbuy__variant-button"
                {% if option_disabled %}
                  disabled
                {% endif %}
              >
                {{ variant.title | split: ' / ' | first -}}
                {{ label_unavailable }}

                <span class="bold">{{ variant.price | money }}</span>
              </button>
            {% endform %}
          </product-form>
        </div>
      {%- endfor -%}
    </div>
  </div>
</quickbuy-component>
