<div class="
    slider-buttons
    {% if hide_desktop %}hidden--desktop{% endif %}
    {% if hide_mobile %}hidden--mobile{% endif %}
  ">
  <button
    type="button"
    class="slider-button slider-button--prev {% unless show_arrows %}hidden{% endunless %}"
    name="prev"
    aria-label="{{ 'sections.slideshow.previous_slideshow' | t }}"
    aria-controls="Slider-{{ section.id }}"
  >
    {% render 'icon-pointer' %}
    <span class="visually-hidden">{{ 'sections.slideshow.previous_slideshow' | t }}</span>
  </button>

  <div
    class="slider-counter slider-counter--dots {% unless show_dots %}hidden{% endunless %}"
  ></div>

  <button
    type="button"
    class="slider-button slider-button--next {% unless show_arrows %}hidden{% endunless %}"
    name="next"
    aria-label="{{ 'sections.slideshow.next_slideshow' | t }}"
    aria-controls="Slider-{{ section.id }}"
  >
    {% render 'icon-pointer' %}
    <span class="visually-hidden">{{ 'sections.slideshow.next_slideshow' | t }}</span>
  </button>

  {%- if show_pause_button or section.settings.auto_rotate -%}
    <button
      type="button"
      class="slider-button slider-button__toggle"
      aria-label="{{ 'sections.slideshow.pause_slideshow' | t }}"
      data-pause="false"
    >
      {%- render 'icon-pause' -%}
      {%- render 'icon-play' -%}
    </button>
  {%- endif -%}
</div>
