<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="theme-color" content="">

    <!-- ===================== ! -->
    <!-- Meta Tags       ! -->
    <!-- ===================== ! -->
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- unless settings.type_body_font.system? -%}
      {{ settings.type_body_font | font_url |preload_tag: as: 'font', type: 'font/woff2' }}
    {%- endunless -%}

    {%- unless settings.type_header_font.system? -%}
      {{ settings.type_header_font | font_url | preload_tag: as: 'font', type: 'font/woff2' }}
    {%- endunless -%}

    {%- unless settings.type_special_font.system? -%}
      {{ settings.type_special_font | font_url | preload_tag: as: 'font', type: 'font/woff2' }}
    {%- endunless -%}

    <!-- ===================== ! -->
    <!-- CSS          ! -->
    <!-- ===================== ! -->
    {%- render 'base_stylesheet' -%}

    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'section-password.css' | asset_url | stylesheet_tag }}

    <!-- ===================== ! -->
    <!-- Head JavaScript       ! -->
    <!-- ===================== ! -->

    {{ content_for_header }}
  </head>

  <body class="gradient">
    <main id="MainContent" class="password-main">
      {{ content_for_layout }}
    </main>
  </body>
</html>
