{{ 'authenticate.css' | asset_url | stylesheet_tag }}

<div
  id="HalfBanner-{{ section.id }}"
  class=" color-{{ section.settings.color_scheme }} half-banner banner--content-align-{{ section.settings.desktop_content_alignment }} banner--{{ section.settings.image_height }}{% if section.settings.stack_images_on_mobile and section.settings.image != blank %} banner--stacked{% endif %}{% if section.settings.image_height == 'adapt' and section.settings.image != blank %} banner--adapt{% endif %}{% if section.settings.show_text_below %} banner--mobile-bottom{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
>
  <div class="half-banner__container {% if section.settings.image == blank %}half-banner__container--no-image{% endif %}">
    <div class="half-banner__empty-side">
      <div class="center">
        <h1 tabindex="-1" class=" center hidden--mobile list--unstyled">
          {{ 'customer.register.title' | t }}
        </h1>
        <h5 class="hidden--mobile center list--unstyled">
          {{ 'customer.register.subtext' | t }}
        </h5>
      </div>

      <div class="form">
        {%- form 'create_customer', novalidate: 'novalidate' -%}
          <input type="hidden" name="return_to" value="/account?q=register">

          {%- if form.errors -%}
            <h2 class="form__message" tabindex="-1" autofocus>
              <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
              {{ 'templates.contact.form.error_heading' | t }}
            </h2>
            <ul>
              {%- for field in form.errors -%}
                <li>
                  {%- if field == 'form' -%}
                    {{ form.errors.messages[field] }}
                  {%- else -%}
                    <a href="#RegisterForm-{{ field }}">
                      {{ form.errors.translated_fields[field] | capitalize }}
                      {{ form.errors.messages[field] }}
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>

            <script>
              document.addEventListener('DOMContentLoaded', function() {
                if(window.theme.dynamic_yield_enabled && DynamicYield) {
                  DynamicYield.triggerCustom("Unsuccessful Sign Up", { value: "{{ form.errors | default_errors }}" });
                }
              });
            </script>
          {%- endif -%}

          <div class="field">
            <label class="field__label" for="RegisterForm-FirstName">
              {{ 'customer.register.first_name' | t }}
            </label>
            <input
              class="field__input"
              type="text"
              name="customer[first_name]"
              id="RegisterForm-FirstName"
              {% if form.first_name %}
                value="{{ form.first_name }}"
              {% endif %}
              autocomplete="given-name"
              placeholder="{{ 'customer.register.first_name' | t }}"
            >
          </div>

          <div class="field">
            <label class="field__label" for="RegisterForm-LastName">
              {{ 'customer.register.last_name' | t }}
            </label>
            <input
              class="field__input"
              type="text"
              name="customer[last_name]"
              id="RegisterForm-LastName"
              {% if form.last_name %}
                value="{{ form.last_name }}"
              {% endif %}
              autocomplete="family-name"
              placeholder="{{ 'customer.register.last_name' | t }}"
            >
          </div>

          <div class="field">
            <label class="field__label" for="RegisterForm-email">
              {{ 'customer.register.email' | t }}
            </label>
            <input
              class="field__input"
              type="email"
              name="customer[email]"
              id="RegisterForm-email"
              {% if form.email %}
                value="{{ form.email }}"
              {% endif %}
              spellcheck="false"
              autocapitalize="off"
              autocomplete="email"
              aria-required="true"
              {% if form.errors contains 'email' %}
                aria-invalid="true"
                aria-describedby="RegisterForm-email-error"
              {% endif %}
              placeholder="{{ 'customer.register.email' | t }}"
            >
            {%- if form.errors contains 'email' -%}
              <small id="RegisterForm-email-error" class="field__status">
                {{ form.errors.translated_fields.email | capitalize }}
                {{ form.errors.messages.email }}.
              </small>
            {%- endif -%}
          </div>

          <div class="field">
            <label class="field__label" for="RegisterForm-password">
              {{ 'customer.register.password' | t }}
            </label>
            <input
              class="field__input"
              type="password"
              name="customer[password]"
              id="RegisterForm-password"
              aria-required="true"
              {% if form.errors contains 'password' %}
                aria-invalid="true"
                aria-describedby="RegisterForm-password-error"
              {% endif %}
              placeholder="{{ 'customer.register.password' | t }}"
            >
            {%- if form.errors contains 'password' -%}
              <small id="RegisterForm-password-error" class="field__status">
                {{ form.errors.translated_fields.password | capitalize }}
                {{ form.errors.messages.password }}.
              </small>
            {%- endif -%}
          </div>

          <div class="field">
            <button class="button field__button">
              {{ 'customer.register.submit' | t }}
            </button>
          </div>
        {%- endform -%}
      </div>
    </div>

    {% if section.settings.image != blank %}
      <div class="half-banner__image-side">
        <div class="half-banner__media {% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}">
          {%- liquid
            assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
            assign sizes = section.settings.image_width | append: 'vw'
          -%}
          {{
            section.settings.image
            | image_url: width: 2000
            | image_tag:
            width: section.settings.image.width,
            height: image_height,
            class: 'responsive-image',
            sizes: sizes,
            fetchpriority: 'auto'
          }}

          <div class="half-banner__image-message half-banner__image-message__mobile hidden--desktop deferred-media__poster-button">
            <h1 class="list--unstyled">
              {{ 'customer.register.title' | t }}
            </h1>
            <h5 class="list--unstyled">
              {{ 'customer.register.subtext' | t }}
            </h5>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    if(window.theme.dynamic_yield_enabled && DynamicYield) {
      document.querySelector('#create_customer').addEventListener('submit', function(e) {
        const email = document.querySelector('#RegisterForm-email').value;
        DynamicYield.signUp(email);
      });
    }
  });
</script>

{% schema %}
{
  "name": "t:sections.main-register.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_shop_login_button",
      "label": "t:sections.main-login.shop_login_button.enable",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Choose an Image"
    }
  ]
}
{% endschema %}
