{{ 'customer.min.css' | asset_url | stylesheet_tag }}

<script src="{{ 'customer.min.js' | asset_url }}" defer></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}


{%- paginate customer.addresses by 5 -%}
  <div class="customer addresses section-{{ section.id }}-padding" data-customer-addresses>
    <customer-addresses>
      <div class="addresses__container">
        <a class="btn btn--text address__back-btn" href="{{ routes.account_url }}">
          {% render 'icons', icon_name: 'caret-left' %}
          {{ 'customer.account.return' | t }}
        </a>
        <h1 class="h3 addresses__title" >{{ 'customer.addresses.title' | t }}</h1>

        <ul role="list">
          {%- for address in customer.addresses -%}
            <li class="addresses__address" data-address>
              <div class="addresses__address-header">
                <p class="p-1 addresses__address-name">{{ address.name }}</p>
                <span class="addresses__actions">
                  {%- if address == customer.default_address -%}
                    <p class="p-4 addresses__default">{{ 'customer.addresses.default' | t }}</p>
                  {% else %}
                    {%- form 'customer_address', address -%}
                      <input
                        type="hidden"
                        id="address_default_address_new"
                        name="address[default]"
                        value="1"
                      >
                      <button class="btn--text addresses__make-default" type="submit" value="Set as default">
                        {{ 'customer.addresses.set_default' | t }}
                      </button>
                    {%- endform -%}
                  {%- endif -%}
                  <span> | </span>
                  <form class="address-delete-form"
                    method="post"
                    action="/account/addresses/{{ address.id }}"
                    >
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit" aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}">
                      {% render 'icons', icon_name: 'trash' %}
                    </button>
                  </form>
                </span>
              </div>
              <div class="addresses__address-body">
                <p class="p-4 addresses__address-info">
                  {% if address.address1 != blank %}
                    {{ address.address1 }}<br/>
                  {%  endif %}
                  {% if address.address2 != blank %}
                    {{ address.address2 }}<br/>
                  {% endif %}
                  {% if address.city != blank %}
                    {{ address.city }},
                  {% endif %}
                  {% if address.province_code != blank %}
                    {{ address.province_code }},
                  {% endif %}
                  {% if address.zip != blank %}
                    {{ address.zip }}<br/>
                  {% endif %}
                  {% if address.country != blank %}
                    {{ address.country }}<br/>
                  {% endif %}
                  {% if address.phone != blank %}
                    {{ address.phone }}
                  {% endif %}
                </p>
              </div>


              <button
                class="p-4 addresses__address-edit"
                type="button"
                id="EditFormButton_{{ address.id }}"
                aria-label="{{ 'customer.addresses.edit_address' | t }} {{ forloop.index }}"
                aria-controls="EditAddress_{{ address.id }}"
                aria-expanded="false"
                data-address-id="{{ address.id }}"
                address-form-button
              >
                {{ 'customer.addresses.edit' | t }}
                {% render 'icons', icon_name: 'caret-right' %}

              </button>

              <div id="EditAddress_{{ address.id }}">
                <h2 class="p-1">{{ 'customer.addresses.edit_address' | t }}</h2>
                <address-form>
                  {%- form 'customer_address', address -%}
                    <div class="field">
                      <input
                        class="p-4 address__input"
                        type="text"
                        id="AddressFirstName_{{ form.id }}"
                        name="address[first_name]"
                        value="{{ form.first_name }}"
                        autocomplete="given-name"
                        placeholder="{{ 'customer.addresses.first_name' | t }}*"
                        aria-required="true"
                        required
                      >
                      <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>

                    </div>
                    <div class="field">
                      <input
                        class="p-4 address__input"
                        type="text"
                        id="AddressLastName_{{ form.id }}"
                        name="address[last_name]"
                        value="{{ form.last_name }}"
                        autocomplete="family-name"
                        placeholder="{{ 'customer.addresses.last_name' | t }}*"
                        aria-required="true"
                        required
                      >
                        <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                    </div>
                    <div class="field">
                      <input
                        class="p-4 address__input"
                        type="text"
                        id="AddressCompany_{{ form.id }}"
                        name="address[company]"
                        value="{{ form.company }}"
                        autocomplete="organization"
                        placeholder="{{ 'customer.addresses.company' | t }}"
                      >
                        <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
                    </div>
                    <div class="field">
                      <input
                        class="p-4 address__input"
                        type="text"
                        id="AddressAddress1_{{ form.id }}"
                        name="address[address1]"
                        value="{{ form.address1 }}"
                        autocomplete="address-line1"
                        placeholder="{{ 'customer.addresses.address1' | t }}*"
                        aria-required="true"
                        required
                      >
                        <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
                    </div>
                    <div class="field">
                      <input
                        class="p-4 address__input"
                        type="text"
                        id="AddressAddress2_{{ form.id }}"
                        name="address[address2]"
                        value="{{ form.address2 }}"
                        autocomplete="address-line2"
                        placeholder="{{ 'customer.addresses.address2' | t }}"
                      >
                        <label for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
                    </div>
                    <div class="field">
                      <input
                        class="p-4 address__input"
                        type="text"
                        id="AddressCity_{{ form.id }}"
                        name="address[city]"
                        value="{{ form.city }}"
                        autocomplete="address-level2"
                        placeholder="{{ 'customer.addresses.city' | t }}*"
                        aria-required="true"
                        required
                      >
                        <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                    </div>
                    <div>
                      <div class="select">
                        <select
                          id="AddressCountry_{{ form.id }}"
                          name="address[country]"
                          data-address-country-select
                          data-default="{{ form.country }}"
                          data-form-id="{{ form.id }}"
                          autocomplete="country"
                          aria-required="true"
                          required
                          >
                          {{ country_option_tags }}
                        </select>
                      </div>
                    </div>
                    <div id="AddressProvinceContainer_{{ form.id }}">
                      <div class="select">
                        <select
                          class="p-4 address__input province-select"
                          id="AddressProvince_{{ form.id }}"
                          name="address[province]"
                          data-default="{{ form.province }}"
                          autocomplete="address-level1"
                        >

                        </select>
                      </div>
                    </div>
                    <div class="field">
                      <input
                        class="p-4 address__input"
                        type="text"
                        id="AddressZip_{{ form.id }}"
                        name="address[zip]"
                        value="{{ form.zip }}"
                        autocapitalize="characters"
                        autocomplete="postal-code"
                        placeholder="{{ 'customer.addresses.zip' | t }}*"
                        aria-required="true"
                        required
                      >
                        <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                    </div>
                    <div class="field">
                      <input
                        class="p-4 address__input"
                        type="tel"
                        id="AddressPhone_{{ form.id }}"
                        name="address[phone]"
                        value="{{ form.phone }}"
                        autocomplete="tel"
                        placeholder="{{ 'customer.addresses.phone' | t }}"
                      >
                        <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                    </div>
                    <div>
                      {{ form.set_as_default_checkbox }}
                      <label class="p-4"
                        for="address_default_address_{{ form.id }}">
                        {{ 'customer.addresses.set_default' | t }}
                      </label>
                    </div>
                    <div class="addresses__address-footer">
                      <button class="addresses__address-submit btn btn--primary">{{ 'customer.addresses.update' | t }}</button>
                      <button class="btn btn--text" type="reset" address-form-button aria-controls="EditAddress_{{ address.id }}">{{ 'customer.addresses.cancel' | t }}</button>
                    </div>
                  {%- endform -%}
                </address-form>
              </div>
            </li>
          {%- endfor -%}
        </ul>

        <div data-address>
          <button
            class="addresses__address-submit btn btn--primary"
            type="button"
            aria-expanded="false"
            aria-controls="AddAddress"
            address-form-button
          >
            {{ 'customer.addresses.add_new' | t }}
          </button>
          <div id="AddAddress">
            <h2 class="p-1" id="AddressNewHeading">{{ 'customer.addresses.add_new' | t }}</h2>
            <address-form>
              {%- form 'customer_address', customer.new_address, aria-labelledBy: 'AddressNewHeading' -%}
                <div class="field">
                  <input
                    class="p-4 address__input"
                    type="text"
                    id="AddressFirstNameNew"
                    name="address[first_name]"
                    value="{{ form.first_name }}"
                    autocomplete="given-name"
                    placeholder="{{ 'customer.addresses.first_name' | t }}*"
                    aria-required="true"
                    required
                  >
                    <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
                </div>
                <div class="field">
                  <input
                    class="p-4 address__input"
                    type="text"
                    id="AddressLastNameNew"
                    name="address[last_name]"
                    value="{{ form.last_name }}"
                    autocomplete="family-name"
                    placeholder="{{ 'customer.addresses.last_name' | t }}*"
                    aria-required="true"
                    required
                  >
                    <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
                </div>
                <div class="field">
                  <input
                    class="p-4 address__input"
                    type="text"
                    id="AddressCompanyNew"
                    name="address[company]"
                    value="{{ form.company }}"
                    autocomplete="organization"
                    placeholder="{{ 'customer.addresses.company' | t }}"
                  >
                    <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
                </div>
                <div class="field">
                  <input
                    class="p-4 address__input"
                    type="text"
                    id="AddressAddress1New"
                    name="address[address1]"
                    value="{{ form.address1 }}"
                    autocomplete="address-line1"
                    placeholder="{{ 'customer.addresses.address1' | t }}*"
                    aria-required="true"
                    required
                  >
                    <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
                </div>
                <div class="field">
                  <input
                    class="p-4 address__input"
                    type="text"
                    id="AddressAddress2New"
                    name="address[address2]"
                    value="{{ form.address2 }}"
                    autocomplete="address-line2"
                    placeholder="{{ 'customer.addresses.address2' | t }}"
                  >
                    <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
                </div>
                <div class="field">
                  <input
                    class="p-4 address__input"
                    type="text"
                    id="AddressCityNew"
                    name="address[city]"
                    value="{{ form.city }}"
                    autocomplete="address-level2"
                    placeholder="{{ 'customer.addresses.city' | t }}*"
                    aria-required="true"
                    required
                  >
                    <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
                </div>
                <div>
                  <div class="select">
                    <select
                      class="p-4 address__input"
                      id="AddressCountryNew"
                      name="address[country]"
                      data-default="{{ form.country }}"
                      autocomplete="country"
                      placeholder="Country"
                      data-address-country-select
                      aria-required="true"
                      required
                    >
                      <option value="" disabled selected>Country*</option>
                      {{ country_option_tags }}
                    </select>

                  </div>
                </div>
                <div id="AddressProvinceContainerNew" style="display: none">
                  <div class="select">
                    <select
                      class="p-4 address__input"
                      id="AddressProvinceNew"
                      name="address[province]"
                      data-default="{{ form.province }}"
                      autocomplete="address-level1"
                    >
                    </select>
                  </div>
                </div>
                <div class="field">
                  <input
                    class="p-4 address__input"
                    type="text"
                    id="AddressZipNew"
                    name="address[zip]"
                    value="{{ form.zip }}"
                    autocapitalize="characters"
                    autocomplete="postal-code"
                    placeholder="{{ 'customer.addresses.zip' | t }}*"
                    aria-required="true"
                    required
                  >
                    <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
                </div>
                <div class="field">
                  <input
                    class="p-4 address__input"
                    type="tel"
                    id="AddressPhoneNew"
                    name="address[phone]"
                    value="{{ form.phone }}"
                    autocomplete="tel"
                    placeholder="{{ 'customer.addresses.phone' | t }}"
                  >
                  <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
                </div>
                <div>
                  {{ form.set_as_default_checkbox }}
                  <label class="p-4" for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
                </div>
                <div class="addresses__address-footer">
                  <button class="addresses__address-submit btn btn--primary">{{ 'customer.addresses.add' | t }}</button>
                  <button class="btn btn--text" type="reset" address-form-button aria-controls="AddAddress">{{ 'customer.addresses.cancel' | t }}</button>
                </div>
              {%- endform -%}
            </address-form>
          </div>
        </div>

        {%- if paginate.pages > 1 -%}
          {%- if paginate.parts.size > 0 -%}
            <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
              <ul role="list">
                {%- if paginate.previous -%}
                  <li>
                    <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                      </svg>
                    </a>
                  </li>
                {%- endif -%}

                {%- for part in paginate.parts -%}
                  <li>
                    {%- if part.is_link -%}
                      <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                        {{- part.title -}}
                      </a>
                    {%- else -%}
                      {%- if part.title == paginate.current_page -%}
                        <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                          {{- part.title -}}
                        </span>
                      {%- else -%}
                        <span>{{ part.title }}</span>
                      {%- endif -%}
                    {%- endif -%}
                  </li>
                {%- endfor -%}

                {%- if paginate.next -%}
                  <li>
                    <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}">
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                      </svg>
                    </a>
                  </li>
                {%- endif -%}
              </ul>
            </nav>
          {%- endif -%}
        {%- endif -%}
        {% render 'account-help' %}
      </div>
    </customer-addresses>
  </div>
{%- endpaginate -%}


<script>
  window.addEventListener('load', () => {
    typeof CustomerAddresses !== 'undefined' && new CustomerAddresses();
  });
</script>

{% schema %}
{
  "name": "t:sections.main-addresses.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "select",
      "label": "Help Section Text Color",
      "id": "color",
      "default": "dark",
      "options": [
        {
          "label": "Light",
          "value": "light"
        },
        {
          "label": "Dark",
          "value": "dark"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "account_help_block",
      "name": "Help Section Block",
      "settings": [
        {
          "type": "select",
          "label": "Icon",
          "id": "icon",
          "options": [
            {
              "label": "Chat",
              "value": "chat"
            },
            {
              "label": "Email",
              "value": "email"
            },
            {
              "label": "Phone",
              "value": "phone"
            }
          ]
        },
        {
          "type": "text",
          "id": "title",
          "label": "Block text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Block Link"
        }
      ]
    }
  ]
}
{% endschema %}