{{ 'customer.min.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="customer order section-{{ section.id }}-padding">
  <div class="order__container">
    <a class="btn btn--text address__back-btn" href="{{ routes.account_url }}">
      {% render 'icons', icon_name: 'caret-left' %}
      {{ 'customer.account.return' | t }}
    </a>
    <h1 class="h3 customer__title" >{{ 'customer.order.title' | t: name: order.name }}</h1>
    <div>
      <div class="order__header">
        <div class="order__header-info">
          <p class="p-1">{{ order.item_count }} {% if order.item_count > 1 %} items{% else %} item{% endif %}</p>
          {%- if order.cancelled -%}
            <p class="p-4 order__header-badge">{{ 'customer.order.cancelled_html' | t }}</p>
          {%- else -%}
            <p class="p-4 order__header-badge">{{ order.fulfillment_status_label }}</p>
          {%- endif -%}
        </div>
        {% if fulfillment.tracking_number != null %}
          <div class="order__header-tracking">
            <p class="p-3">{{ 'customer.order.track_shipment' | t }}:</p>
            <a href="{{ fulfillment.tracking_url }}">{{ fulfillment.tracking_number }}</a>
          </div>
        {% endif %}
      </div>
      <div class="order__body">
        {%  for line_item in order.line_items %}
          <div class="order__item">
            <img class="order__product-image" width="90" height="90" src="{{ line_item.image | image_url: width: 170, height: 170 }}">
            <span class="order__product-details">

              {%- if line_item.url != blank -%}
                <a class="order__product-title" href="{{ line_item.url }}">{{ line_item.title }}</a>
              {%- else -%}
                <p class="order__product-title">{{ line_item.title }}</p>
              {%- endif -%}

              {%- unless line_item.product.has_only_default_variant -%}
                <span class="p-4 order__product-variant">
                  {{ line_item.variant.title }}
                </span>
              {%- endunless -%}

              <p class="p-4 order__product-quantity">{{ 'customer.order.quantity' | t }}: {{ line_item.quantity }}</p>

              {% if line_item.selling_plan_allocation != null %}
                <span class="order__product-subscription">
                  {% render 'icons', icon_name: 'subscription' %}
                  <p class="p-4">{{ line_item.selling_plan_allocation.selling_plan.name }} selling plan name</p>
                </span>
              {% endif %}

            </span>
            <span class="order__product-price">
              {%  if line_item.original_price > line_item.price %}
                <p class="order__product-og-price">{{ line_item.original_price | money }}</p>
              {%  endif %}
              <p>{{ line_item.price | money }}</p>
            </span>
          </div>
        {%  endfor %}
      </div>
      <div class="order__totals">
        <span><p class="p-4">{{ 'customer.order.subtotal' | t }}</p><p class="p-4">{{ order.subtotal_price | money }}</p></span>
        <span><p class="p-4">{{ 'customer.order.shipping' | t }}</p><p class="p-4">{{ order.shipping_price | money }}</p></span>
        <span><p class="p-4">{{ 'customer.order.tax' | t }}</p><p class="p-4">{{ order.tax_price | money }}</p></span>
        <span><p class="p-1">{{ 'customer.order.total' | t }}</p><p class="p-1" class="order__total-price">{{ order.total_price | money }}</p></span>
      </div>
      <div class="order__footer">
        <div class="order__footer-item">
          <p class="p-4">{{ 'customer.order.shipping_address' | t }}</p>
          <p class="p-4">{{ order.shipping_address.summary | split: ',' | join: ', </br>' }}</p>
        </div>
        <div class="order__footer-item">
          <p class="p-4">{{ 'customer.order.billing_address' | t }}</p>
          {% if order.shipping_address == order.billing_address %}
            <p class="p-4">{{ 'customer.order.billing_address_match' | t }}</p>
          {% else %}
            <p class="p-4">{{ order.billing_address.summary | split: ',' | join: ', </br>' }}</p>
          {% endif %}
        </div>
        <div class="order__footer-item">
          <p class="p-4">{{ 'customer.order.payment_status' | t }}</p>
          <p class="p-4">{{ order.financial_status_label }}</p>
        </div>
      </div>
    </div>
    {% render 'account-help' %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-order.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "select",
      "label": "Help Section Text Color",
      "id": "color",
      "default": "dark",
      "options": [
        {
          "label": "Light",
          "value": "light"
        },
        {
          "label": "Dark",
          "value": "dark"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "account_help_block",
      "name": "Help Section Block",
      "settings": [
        {
          "type": "select",
          "label": "Icon",
          "id": "icon",
          "options": [
            {
              "label": "Chat",
              "value": "chat"
            },
            {
              "label": "Email",
              "value": "email"
            },
            {
              "label": "Phone",
              "value": "phone"
            }
          ]
        },
        {
          "type": "text",
          "id": "title",
          "label": "Block text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Block Link"
        }
      ]
    }
  ]
}
{% endschema %}