{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- render 'section_padding' %}

<div class="customer reset-password section-{{ section.id }}-padding">
  {%- form 'reset_customer_password' -%}
    <div class="field">
      {%- if form.errors contains 'password_confirmation' -%}
        <small id="password_confirmation-error" class="field__status">
          <svg aria-hidden="true" focusable="false">
            <use href="#icon-error" />
          </svg>
          {{ form.errors.translated_fields.password_confirmation | capitalize }}
          {{ form.errors.messages.password_confirmation }}
        </small>
      {%- endif -%}
    </div>

    <button class="button field__button">
      {{ 'customer.reset_password.submit' | t }}
    </button>
  {%- endform -%}
</div>

{{ 'authenticate.css' | asset_url | stylesheet_tag }}

<div
  id="HalfBanner-{{ section.id }}"
  class=" color-{{ section.settings.color_scheme }} half-banner banner--content-align-{{ section.settings.desktop_content_alignment }} banner--{{ section.settings.image_height }}{% if section.settings.stack_images_on_mobile and section.settings.image != blank %} banner--stacked{% endif %}{% if section.settings.image_height == 'adapt' and section.settings.image != blank %} banner--adapt{% endif %}{% if section.settings.show_text_below %} banner--mobile-bottom{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
>
  <div class="half-banner__container">
    <div class="half-banner__empty-side">
      <div class="center">
        <h1 tabindex="-1" class=" hidden--mobile list--unstyled">
          {{ 'customer.reset_password.title' | t }}
        </h1>

        <div class="authenticate-form">
          {%- form 'reset_customer_password', novalidate: 'novalidate' -%}
            {%- if form.errors -%}
              <h2 class="form__message" tabindex="-1" autofocus>
                <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
                {{ 'templates.contact.form.error_heading' | t }}
              </h2>
              {{ form.errors | default_errors }}
            {%- endif -%}

            <div class="field">
              <label class="field__label" for="password">
                {{ 'customer.reset_password.password' | t }}
              </label>

              <input
                class="field__input"
                type="password"
                name="customer[password]"
                id="password"
                autocomplete="new-password"
                {% if form.errors contains 'password' %}
                  aria-invalid="true"
                  aria-describedby="password-error"
                {% endif %}
                placeholder="{{ 'customer.reset_password.password' | t }}"
              >

              {%- if form.errors contains 'password' -%}
                <small id="password-error" class="field__status">
                  <svg aria-hidden="true" focusable="false">
                    <use href="#icon-error" />
                  </svg>
                  {{ form.errors.translated_fields.password | capitalize }}
                  {{ form.errors.messages.password }}
                </small>
              {%- endif -%}
            </div>

            <div class="field">
              <label class="field__label" for="password_confirmation">
                {{ 'customer.reset_password.password_confirm' | t }}
              </label>

              <input
                class="field__input"
                type="password"
                name="customer[password_confirmation]"
                id="password_confirmation"
                autocomplete="new-password"
                {% if form.errors contains 'password_confirmation' %}
                  aria-invalid="true"
                  aria-describedby="password_confirmation-error"
                {% endif %}
                placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
              >

              {%- if form.errors contains 'password_confirmation' -%}
                <small id="password_confirmation-error" class="field__status">
                  <svg aria-hidden="true" focusable="false">
                    <use href="#icon-error" />
                  </svg>
                  {{ form.errors.translated_fields.password_confirmation | capitalize }}
                  {{ form.errors.messages.password_confirmation }}
                </small>
              {%- endif -%}
            </div>

            <div class="field">
              <button class="button full-width field__button">
                {{ 'customer.reset_password.submit' | t }}
              </button>
            </div>
          {%- endform -%}
        </div>
      </div>
    </div>

    <div class="half-banner__image-side">
      {% if section.settings.image != blank %}
        <div class="half-banner__media {% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}">
          {%- liquid
            assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
            assign sizes = section.settings.image_width | append: 'vw'
          -%}
          {{
            section.settings.image
            | image_url: width: 2000
            | image_tag:
            width: section.settings.image.width,
            height: image_height,
            class: 'responsive-image',
            sizes: sizes,
            fetchpriority: 'auto'
          }}

          <div class="half-banner__image-message half-banner__image-message__mobile hidden--desktop deferred-media__poster-button">
            <h1 id="login" class="list--unstyled">
              {{ 'customer.login_page.title' | t }}
            </h1>
            <h5 class="list--unstyled">
              {{ 'customer.login_page.subtext' | t }}
            </h5>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-reset-password.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Choose an Image"
    }
  ]
}
{% endschema %}
