{{ 'listing.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}

<script src="{{ 'listing.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

{%- if section.settings.enable_filters or section.settings.enable_sorting -%}
  {{ 'listing_filters.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- render 'section_padding' %}

<div class="section-{{ section.id }}-padding gradient color-{{ section.settings.color_scheme }}">
  <listing-component
    data-section-id="{{ section.id }}"
    class="listing {{ section.settings.layout }}"
  >
    {%- paginate search.results by section.settings.products_per_page -%}
      {%- liquid
        assign listing = collection
        assign items = collection.products

        if template == 'search'
          assign listing = search
          assign items = search.results
        endif

        assign has_filters = false

        for filter in listing.filters
          if filter.values.size > 1
            assign has_filters = true
            break
          endif
        endfor
      -%}

      {%- unless items.size == 0 %}
        {%- if has_filters and section.settings.enable_filters and section.settings.enable_desktop_filters -%}
          <aside class="filters__desktop hidden--mobile">
            {%- render 'listing_filters', results: listing, paginate: paginate -%}
          </aside>
        {%- endif -%}
      {%- endunless -%}

      <div class="listing__wrapper">
        {%- unless items.size == 0 %}
          {%- if section.settings.enable_filters or section.settings.enable_sorting -%}
            <aside class="filters__wrapper">
              {%- if has_filters and section.settings.enable_filters -%}
                {%- render 'listing_filters', type: 'drawer', results: listing, paginate: paginate -%}
              {%- endif -%}

              {%- if section.settings.enable_sorting -%}
                {% render 'listing_sort', listing: listing, paginate: paginate %}
              {%- endif -%}
            </aside>
          {%- endif -%}
        {%- endunless -%}

        {%-
          render 'listing' with
          listing: listing,
          paginate: paginate,
          items: items,
        -%}
      </div>
    {%- endpaginate -%}
  </listing-component>
</div>

{% schema %}
{
  "name": "Main listing",
  "class": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        {
          "value": "screen-width",
          "label": "Screen width"
        },
        {
          "value": "page-width",
          "label": "Page width"
        },
        {
          "value": "large-width",
          "label": "Large width"
        },
        {
          "value": "full-width",
          "label": "Full width"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "header",
      "content": "Filter Settings"
    },
    {
      "type": "checkbox",
      "id": "enable_filters",
      "default": true,
      "label": "Enable filters"
    },
    {
      "type": "checkbox",
      "id": "enable_desktop_filters",
      "default": true,
      "label": "Always show desktop filters"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "Enable Sorting"
    },
    {
      "type": "checkbox",
      "id": "show_more",
      "label": "Display show more instead of pagination"
    },
    {
      "type": "header",
      "content": "Content Settings"
    },
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 36,
      "step": 4,
      "default": 16,
      "label": "Items per page"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "Columns desktop"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "label": "Number of columns on mobile"
    },
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 4,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 4,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "promo",
      "name": "Promotion Banner",
      "settings": [
        {
          "type": "number",
          "id": "position",
          "label": "Position"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image (mobile)"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ]
}
{% endschema %}
