<style type="text/css">
  .password-logo {
    max-width: {{ settings.logo_width }}px;
  }
</style>

<div class="password-parent color-{{ section.settings.color_scheme }} gradient">
  <div class="page-width password-content">
    <div class="password__header">
      {%- if settings.logo != blank -%}
        {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
        {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
        {{
          settings.logo
          | image_url: width: 500
          | image_tag:
          class: 'password-logo',
          widths: '50, 100, 150, 200, 250, 300, 400, 500',
          width: settings.logo_width,
          height: logo_height,
          alt: logo_alt
        }}
      {%- else -%}
        <h1 class="h2">{{ shop.name }}</h1>
      {%- endif -%}
    </div>

    {%- if shop.password_message != blank -%}
      <div class="password__content">
        {{ shop.password_message }}
      </div>
    {%- endif -%}

    <div class="password__form">
      {%- form 'storefront_password', class: 'password-form' -%}
        <div class="field">
          <label class="field__label" for="{{ 'general.password_page.login_form_password_label' | t }}">
            {{- 'general.password_page.login_form_password_placeholder' | t -}}
          </label>
          <input
            type="password"
            name="password"
            id="Password"
            class="field__input"
            autocomplete="current-password"
            {% if form.errors %}
              aria-invalid="true"
              aria-describedby="PasswordLoginForm-password-error"
            {%- endif -%}
            placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
          >

          {%- if form.errors -%}
            <div id="PasswordLoginForm-password-error" role="status">
              <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
              <span class="field__status">
                {% render 'icon-error' %}
                {{ 'general.password_page.login_form_error' | t -}}
              </span>
            </div>
          {%- endif -%}
        </div>

        <div class="field">
          <button name="commit" class="button">
            {{ 'general.password_page.login_form_submit' | t }}
          </button>
        </div>

        <div class="field">
          <div class="body body--small">
            {{ 'general.password_page.admin_link_html' | t }}
          </div>
        </div>
      {%- endform -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Password Page",
  "class": "password-section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-password-header.settings.logo_help.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}
