{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}

{%- render "section_padding" %}

{%- liquid
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}

{%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
{%- capture sizes -%}
  (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
{%- endcapture -%}

<div
  id="{{ section.id }}"
  class="section-{{ section.id }}-padding  color-{{ section.settings.color_scheme }} gradient"
>
  <div class="{{ section.settings.layout }}">
    {%- render 'section_header' -%}

    <div class="image-with-text image-with-text--{{ section.settings.content_layout }} isolate {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <div class="image-with-text__grid image-with-text__grid--{{ section.settings.desktop_image_width }} {% unless section.settings.image_first %} image-with-text__grid--reverse{% endunless %}">
        <div class="image-with-text__media-item">
          <div
            class="media media--{{ section.settings.aspect_ratio }}"
            {% if section.settings.aspect_ratio == 'adapt' and section.settings.video != blank %}
              style="padding-bottom: {{ 1 | divided_by: section.settings.video.aspect_ratio | times: 100 }}%;"
            {% elsif section.settings.aspect_ratio == 'adapt' and section.settings.image != blank %}
              style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;"
            {% endif %}
          >
            {%- if section.settings.video != null or section.settings.video_url != null -%}
              {%- assign video_id = section.settings.video.id -%}
              {%- assign video_alt = section.settings.video.alt | default: section.settings.image.alt -%}
              {%- assign poster = section.settings.image | default: section.settings.video.preview_image -%}
              {%- assign video_label = 'sections.video.load_video' | t: description: video_alt | escape -%}

              <deferred-media data-media-id="{{ section.id }}">
                <button
                  id="DeferredPoster-{{ section.id }}"
                  class="media__poster"
                  type="button"
                  aria-label="{{ video_label }}"
                >
                  {{
                    poster
                    | image_url: width: 1500
                    | image_tag: sizes: sizes, widths: widths, alt: video_alt
                  }}
                  {%- render 'icon-play' -%}
                </button>
                <template>
                  {%- if section.settings.video == null and section.settings.video_url != null -%}
                    {%- assign loop = '&loop=1&playlist=' | append: video_id -%}
                    {%- if section.settings.video_url.type == 'youtube' -%}
                      <iframe
                        src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay=1{{ loop }}"
                        class="js-youtube"
                        allow="autoplay; encrypted-media"
                        allowfullscreen
                        title="{{ section.settings.description | escape }}"
                      ></iframe>
                    {%- else -%}
                      <iframe
                        src="https://player.vimeo.com/video/{{ video_id }}?autoplay=1{{ loop }}"
                        class="js-vimeo"
                        allow="autoplay; encrypted-media"
                        allowfullscreen
                        title="{{ section.settings.description | escape }}"
                      ></iframe>
                    {%- endif -%}
                  {%- else -%}
                    {{
                      section.settings.video
                      | video_tag:
                      image_size: '1100x',
                      autoplay: true,
                      loop: true,
                      controls: true,
                      muted: false
                    }}
                  {%- endif -%}
                </template>
              </deferred-media>
            {%- elsif section.settings.image != blank -%}
              {{
                section.settings.image
                | image_url: width: 1500
                | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
              }}
            {%- else -%}
              {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
          </div>
        </div>

        <div class="image-with-text__text-item image-width-text__text-item--collection">
          <div
            id="ImageWithText--{{ section.id }}"
            class="image-with-text__content image-with-text__content--collection gradient color-{{ section.settings.box_color_scheme }}"
          >
            <slider-component>
              <ul
                class="grid grid--2-col-desktop grid--2-col slider slider--mobile slider--desktop"
                id="Slider-{{ section.id }}"
                role="list"
              >
                {% for product in section.settings.collection.products limit: section.settings.max_products %}
                  <li id="Slide-{{ section.id }}-{{ forloop.index }}" class="grid__item slider__slide">
                    {%
                      render 'card',
                      item: product,
                      type: "product",
                      columns_desktop: 2,
                      columns_mobile: 2
                    %}
                  </li>
                {% endfor %}
              </ul>

              {%- render 'slider_controls', section: section -%}
            </slider-component>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Media with collection",
  "class": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        {
          "value": "screen-width",
          "label": "Screen width"
        },
        {
          "value": "page-width",
          "label": "Page width"
        },
        {
          "value": "large-width",
          "label": "Large width"
        },
        {
          "value": "full-width",
          "label": "Full width"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "header",
      "content": "Section Header"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "visible_if": "{{ section.settings.title != blank }}",
      "type": "checkbox",
      "id": "header_is_h1",
      "label": "Header is H1",
      "default": false
    },
    {
      "visible_if": "{{ section.settings.title != blank }}",
      "type": "checkbox",
      "id": "visually_hide_header",
      "label": "Visually hide header",
      "default": false
    },
    {
      "visible_if": "{{ section.settings.title != blank }}",
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h5",
          "label": "X-Small"
        },
        {
          "value": "h4",
          "label": "Small"
        },
        {
          "value": "h3",
          "label": "Medium"
        },
        {
          "value": "h2",
          "label": "Large"
        },
        {
          "value": "h1",
          "label": "X-Large"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "visible_if": "{{ section.settings.description != blank }}",
      "type": "select",
      "id": "text_style",
      "options": [
        {
          "value": "body--small",
          "label": "Small"
        },
        {
          "value": "body",
          "label": "Regular"
        },
        {
          "value": "body--large",
          "label": "Large"
        }
      ],
      "default": "body",
      "label": "Text style"
    },
    {
      "visible_if": "{{ section.settings.description != blank }}",
      "type": "select",
      "id": "mobile_text_style",
      "options": [
        {
          "value": "body--small-mobile",
          "label": "Small"
        },
        {
          "value": "body--mobile",
          "label": "Regular"
        },
        {
          "value": "body--large-mobile",
          "label": "Large"
        }
      ],
      "default": "body--mobile",
      "label": "Mobile text style"
    },
    {
      "visible_if": "{{ section.settings.title != blank or section.settings.description != blank }}",
      "type": "select",
      "id": "heading_alignment",
      "label": "Heading Alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__3.label"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Image w/ text settings"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text.settings.image.label",
      "info": "If you upload a video, it'll use the video instead"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video (MP3)"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": [
        "youtube",
        "vimeo"
      ],
      "label": "Video (YouTube)"
    },
    {
      "type": "select",
      "id": "aspect_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt"
        },
        {
          "value": "ribbon",
          "label": "Ribbon"
        },
        {
          "value": "xsmall",
          "label": "X-Small"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "square",
          "label": "Square"
        },
        {
          "value": "portrait",
          "label": "Portrait"
        },
        {
          "value": "landscape",
          "label": "Landscape"
        }
      ],
      "default": "square",
      "label": "Aspect Ratio"
    },
    {
      "type": "select",
      "id": "desktop_image_width",
      "options": [
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-with-text.settings.desktop_image_width.label",
      "info": "t:sections.image-with-text.settings.desktop_image_width.info"
    },
    {
      "type": "checkbox",
      "id": "image_first",
      "default": true,
      "label": "Show image first"
    },
    {
      "type": "select",
      "id": "content_layout",
      "options": [
        {
          "value": "no-overlap",
          "label": "t:sections.image-with-text.settings.content_layout.options__1.label"
        },
        {
          "value": "overlap",
          "label": "t:sections.image-with-text.settings.content_layout.options__2.label"
        }
      ],
      "default": "no-overlap",
      "label": "t:sections.image-with-text.settings.content_layout.label"
    },
    {
      "type": "color_scheme",
      "id": "box_color_scheme",
      "label": "Container color scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Slider settings"
    },
    {
      "type": "checkbox",
      "id": "slider_show_dots",
      "label": "Show dots",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "slider_show_arrows",
      "label": "Show arrows"
    },
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 4,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding top",
      "default": 2
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 4,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding bottom",
      "default": 2
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 4,
      "step": 0.5,
      "unit": "rem",
      "label": "Section margin",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Media with collection"
    }
  ]
}
{% endschema %}
