{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}

{%- render 'section_padding' %}

{%- liquid
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}

{%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
{%- capture sizes -%}
  (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
{%- endcapture -%}

<div
  id="{{ section.id }}"
  class="section-{{ section.id }}-padding  color-{{ section.settings.color_scheme }} gradient"
>
  <div class="{{ section.settings.layout }}">
    <slider-component class="{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <ul
        id="Slider-{{ section.id }}"
        data-id="{{ section.id }}"
        class="grid grid--1-col slider slider--desktop slider--mobile"
        role="list"
        aria-label="{{ 'general.slider.name' | t }}"
      >
        {%- for block in section.blocks -%}
          <li
            id="Slide-{{ section.id }}-{{ forloop.index }}"
            class="grid__item slider__slide{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            <div class="image-with-text image-with-text--{{ block.settings.content_layout }} isolate {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
              <div class="image-with-text__grid image-with-text__grid--{{ section.settings.desktop_image_width }} {% unless block.settings.image_first %} image-with-text__grid--reverse{% endunless %}">
                <div class="image-with-text__media-item image-with-text__media-item--{{ block.settings.desktop_content_position }}">
                  {%- if block.settings.video != null or block.settings.video_url != null -%}
                    {%- assign video_id = block.settings.video.id -%}
                    {%- assign video_alt = block.settings.video.alt | default: block.settings.image.alt -%}
                    {%- assign poster = block.settings.image | default: block.settings.video.preview_image -%}
                    {%- assign video_label = 'sections.video.load_video' | t: description: video_alt | escape -%}

                    <deferred-media
                      data-media-id="{{ block.id }}"
                      class="media media--{{ section.settings.aspect_ratio }}"
                      {% if section.settings.aspect_ratio == 'adapt' and block.settings.video != blank %}
                        style="padding-bottom: {{ 1 | divided_by: block.settings.video.aspect_ratio | times: 100 }}%;"
                      {% elsif section.settings.aspect_ratio == 'adapt' and block.settings.image != blank %}
                        style="padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;"
                      {% endif %}
                      data-autoplay="{{ block.settings.video_autoplay }}"
                    >
                      {{ poster | image_url: width: 1500 | image_tag: sizes: sizes, widths: widths, alt: video_alt }}
                      <button
                        id="DeferredPoster-{{ block.id }}"
                        class="media__poster"
                        type="button"
                        aria-label="{{ video_label }}"
                      >                        
                        {%- render 'icon-play' -%}
                      </button>
                      <template>
                        {%- if block.settings.video == null and block.settings.video_url != null -%}
                          {%- assign loop = '&loop=1&playlist=' | append: video_id -%}

                          {%- if block.settings.video_url.type == 'youtube' -%}
                            <iframe
                              src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay=1{{ loop }}"
                              class="js-youtube"
                              allow="autoplay; encrypted-media"
                              allowfullscreen
                              title="{{ block.settings.title | escape }}"
                            ></iframe>
                          {%- else -%}
                            <iframe
                              src="https://player.vimeo.com/video/{{ video_id }}?autoplay=1{{ loop }}"
                              class="js-vimeo"
                              allow="autoplay; encrypted-media"
                              allowfullscreen
                              title="{{ block.settings.title | escape }}"
                            ></iframe>
                          {%- endif -%}
                        {%- else -%}
                          {% assign muted = false %}
                          {% assign controls = true %}

                          {% if block.settings.video_autoplay %}
                            {% assign muted = true %}
                            {% assign controls = false %}
                          {% endif %}

                          {{
                            block.settings.video
                            | video_tag: image_size: '1100x', autoplay: true, loop: true, controls: controls, muted: muted
                          }}
                        {%- endif -%}
                      </template>
                    </deferred-media>
                  {%- else -%}
                    <div
                      class="media media--{{ section.settings.aspect_ratio }}"
                      {% if section.settings.aspect_ratio == 'adapt' and block.settings.video != blank %}
                        style="padding-bottom: {{ 1 | divided_by: block.settings.video.aspect_ratio | times: 100 }}%;"
                      {% elsif section.settings.aspect_ratio == 'adapt' and block.settings.image != blank %}
                        style="padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;"
                      {% endif %}
                    >
                      {%- if block.settings.video != null or block.settings.video_url != null -%}
                      {%- elsif block.settings.image != blank -%}
                        {{
                          block.settings.image
                          | image_url: width: 1500
                          | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
                        }}
                      {%- else -%}
                        {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                      {%- endif -%}
                    </div>
                  {%- endif %}
                </div>

                <div class="image-with-text__text-item image-with-text__text-item--{{ block.settings.desktop_content_position }}">
                  <div
                    id="ImageWithText--{{ block.id }}"
                    class="image-with-text__content image-with-text__content--{{ block.settings.desktop_content_position }} image-with-text__content--desktop-{{ block.settings.desktop_content_alignment }} image-with-text__content--mobile-{{ block.settings.mobile_content_alignment }} gradient color-{{ block.settings.box_color_scheme }}"
                  >
                    <h2 class="image-with-text__heading {{ block.settings.heading_size }}">
                      {{ block.settings.heading }}
                    </h2>
                    <div
                      class="image-with-text__text {{ block.settings.text_style }} {{ block.settings.mobile_text_style }}"
                      {{ block.shopify_attributes }}
                    >
                      {{ block.settings.text }}
                    </div>

                    {%- if block.settings.button_label != blank -%}
                      <a
                        {% if block.settings.button_link == blank %}
                          role="link" aria-disabled="true"
                        {% else %}
                          href="{{ block.settings.button_link }}"
                        {% endif %}
                        class="button{% if block.settings.button_style_secondary %} button--secondary{% endif %}"
                        {{ block.shopify_attributes }}
                      >
                        {{ block.settings.button_label | escape }}
                      </a>
                    {%- endif -%}

                    {%- if block.settings.button_label_2 != blank -%}
                      <a
                        {% if block.settings.button_link_2 == blank %}
                          role="link" aria-disabled="true"
                        {% else %}
                          href="{{ block.settings.button_link_2 }}"
                        {% endif %}
                        class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% endif %}"
                        {{ block.shopify_attributes }}
                      >
                        {{ block.settings.button_label_2 | escape }}
                      </a>
                    {%- endif -%}
                  </div>
                </div>
              </div>
            </div>
          </li>
        {%- endfor -%}
      </ul>

      {%- if section.blocks.size > 1 -%}
        {%- render 'slider_controls', section: section -%}
      {%- endif -%}
    </slider-component>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.image-with-text.name",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        {
          "value": "screen-width",
          "label": "Screen width"
        },
        {
          "value": "page-width",
          "label": "Page width"
        },
        {
          "value": "large-width",
          "label": "Large width"
        },
        {
          "value": "full-width",
          "label": "Full width"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "header",
      "content": "Media Settings"
    },
    {
      "type": "select",
      "id": "aspect_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt"
        },
        {
          "value": "ribbon",
          "label": "Ribbon"
        },
        {
          "value": "xsmall",
          "label": "X-Small"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "square",
          "label": "Square"
        },
        {
          "value": "portrait",
          "label": "Portrait"
        },
        {
          "value": "landscape",
          "label": "Landscape"
        }
      ],
      "default": "square",
      "label": "Aspect Ratio"
    },
    {
      "type": "select",
      "id": "desktop_image_width",
      "options": [
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-with-text.settings.desktop_image_width.label",
      "info": "t:sections.image-with-text.settings.desktop_image_width.info"
    },
    {
      "type": "header",
      "content": "Slider settings"
    },
    {
      "type": "checkbox",
      "id": "slider_show_dots",
      "label": "Show dots",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "slider_show_arrows",
      "label": "Show arrows"
    },
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 4,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding top",
      "default": 2
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 4,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding bottom",
      "default": 2
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 4,
      "step": 0.5,
      "unit": "rem",
      "label": "Section margin",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "content",
      "name": "Content",
      "settings": [
        {
          "type": "header",
          "content": "Media settings"
        },
        {
          "type": "checkbox",
          "id": "image_first",
          "default": true,
          "label": "Show media first"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.image-with-text.settings.image.label",
          "info": "If you upload a video, it'll use the video instead"
        },
        {
          "type": "video",
          "id": "video",
          "label": "Video (MP3)"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "accept": ["youtube", "vimeo"],
          "label": "Video (YouTube)"
        },
        {
          "visible_if": "{{ block.settings.video != null or block.settings.video_url != null }}",
          "type": "checkbox",
          "id": "video_autoplay",
          "default": false,
          "label": "Autoplay video"
        },
        {
          "type": "header",
          "content": "Text settings"
        },        
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h5",
              "label": "X-Small"
            },
            {
              "value": "h4",
              "label": "Small"
            },
            {
              "value": "h3",
              "label": "Medium"
            },
            {
              "value": "h2",
              "label": "Large"
            },
            {
              "value": "h1",
              "label": "X-Large"
            }
          ],
          "default": "h2",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "t:sections.image-with-text.blocks.text.settings.text.default",
          "label": "t:sections.image-with-text.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body--small",
              "label": "Small"
            },
            {
              "value": "body",
              "label": "Regular"
            },
            {
              "value": "body--large",
              "label": "Large"
            }
          ],
          "default": "body",
          "label": "Text style"
        },
        {
          "type": "select",
          "id": "mobile_text_style",
          "options": [
            {
              "value": "body--small-mobile",
              "label": "Small"
            },
            {
              "value": "body--mobile",
              "label": "Regular"
            },
            {
              "value": "body--large-mobile",
              "label": "Large"
            }
          ],
          "default": "body--mobile",
          "label": "Mobile text style"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "t:sections.image-with-text.blocks.button.settings.button_label.default",
          "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
          "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "t:sections.image-with-text.blocks.button.settings.outline_button.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "label": "Button label 2",
          "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "Button link 2"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "Use secondary button 2 style"
        },
        {
          "type": "header",
          "content": "Layout settings"
        },
        {
          "type": "color_scheme",
          "id": "box_color_scheme",
          "label": "Container color scheme",
          "default": "scheme-1"
        },
        {
          "type": "select",
          "id": "desktop_content_position",
          "options": [
            {
              "value": "top",
              "label": "t:sections.image-with-text.settings.desktop_content_position.options__1.label"
            },
            {
              "value": "middle",
              "label": "t:sections.image-with-text.settings.desktop_content_position.options__2.label"
            },
            {
              "value": "bottom",
              "label": "t:sections.image-with-text.settings.desktop_content_position.options__3.label"
            }
          ],
          "default": "top",
          "label": "t:sections.image-with-text.settings.desktop_content_position.label"
        },
        {
          "type": "select",
          "id": "desktop_content_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__3.label"
            }
          ],
          "default": "left",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.label"
        },
        {
          "type": "select",
          "id": "content_layout",
          "options": [
            {
              "value": "no-overlap",
              "label": "t:sections.image-with-text.settings.content_layout.options__1.label"
            },
            {
              "value": "overlap",
              "label": "t:sections.image-with-text.settings.content_layout.options__2.label"
            }
          ],
          "default": "no-overlap",
          "label": "t:sections.image-with-text.settings.content_layout.label"
        },
        {
          "type": "header",
          "content": "Mobile layout"
        },
        {
          "type": "select",
          "id": "mobile_content_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__3.label"
            }
          ],
          "default": "left",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-with-text.name",
      "blocks": [
        {
          "type": "content"
        },
        {
          "type": "content"
        },
        {
          "type": "content"
        }
      ]
    }
  ]
}
{% endschema %}
