{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'newsletter-section.css' | asset_url | stylesheet_tag }}

{%- render "section_padding" %}

<div class="newsletter center section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} gradient ">
  <div class="newsletter__wrapper {{ section.settings.layout }} isolate">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when '@app' -%}
          {% render block %}
        {%- when 'heading' -%}
          <h2
            class="{{ block.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {{ block.shopify_attributes }}
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            {{ block.settings.heading }}
          </h2>
        {%- when 'paragraph' -%}
          <div
            class="newsletter__subheading {{ block.settings.text_style }} {{ block.settings.mobile_text_style }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {{ block.shopify_attributes }}
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            {{ block.settings.text }}
          </div>
        {%- when 'email_form' -%}
          <div class="newsletter-form" {{ block.shopify_attributes }}>
            {%- form 'customer', class: 'newsletter-form' -%}
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div class="newsletter-form__field-wrapper">
                <div class="field field--newsletter">
                  <label class="field__label visually-hidden" for="NewsletterForm--{{ section.id }}">
                    {{ 'newsletter.label' | t }}
                  </label>
                  <input
                    id="NewsletterForm--{{ section.id }}"
                    type="email"
                    name="contact[email]"
                    class="field__newsletter"
                    value="{{ form.email }}"
                    required="required"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="ContactFooter-error"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="ContactFooter-success"
                    {% endif %}
                    placeholder="{{ 'newsletter.label' | t }}"
                  >

                  <button
                    type="submit"
                    class="link field__arrow"
                    name="commit"
                    id="Subscribe"
                    aria-label="{{ 'newsletter.button_label' | t }}"
                  >
                    {% render 'icon-arrow' %}
                  </button>
                </div>
              </div>

              {%- if form.errors -%}
                <small class="field__status" id="ContactFooter-error">
                  {%- render 'icon-error' -%}
                  {{- form.errors.translated_fields.email | capitalize }}
                  {{ form.errors.messages.email -}}
                </small>
              {%- endif -%}

              {%- if form.posted_successfully? -%}
                <small
                  class="field__status"
                  id="ContactFooter-success"
                  tabindex="-1"
                  autofocus
                >
                  {% render 'icon-success' -%}
                  {{- 'newsletter.success' | t }}
                </small>
              {%- endif -%}
            {%- endform -%}
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.newsletter.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": [
      "header"
    ]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        {
          "value": "screen-width",
          "label": "Screen width"
        },
        {
          "value": "page-width",
          "label": "Page width"
        },
        {
          "value": "large-width",
          "label": "Large width"
        },
        {
          "value": "full-width",
          "label": "Full width"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "paragraph",
      "content": "t:sections.newsletter.settings.paragraph.content"
    },
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 4,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding top",
      "default": 2
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 4,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding bottom",
      "default": 2
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 4,
      "step": 0.5,
      "unit": "rem",
      "label": "Section margin",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.newsletter.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.newsletter.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h5",
              "label": "X-Small"
            },
            {
              "value": "h4",
              "label": "Small"
            },
            {
              "value": "h3",
              "label": "Medium"
            },
            {
              "value": "h2",
              "label": "Large"
            },
            {
              "value": "h1",
              "label": "X-Large"
            }
          ],
          "default": "h2",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "t:sections.newsletter.blocks.paragraph.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "t:sections.newsletter.blocks.paragraph.settings.paragraph.default",
          "label": "t:sections.newsletter.blocks.paragraph.settings.paragraph.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body--small",
              "label": "Small"
            },
            {
              "value": "body",
              "label": "Regular"
            },
            {
              "value": "body--large",
              "label": "Large"
            }
          ],
          "default": "body",
          "label": "Text style"
        },
        {
          "type": "select",
          "id": "mobile_text_style",
          "options": [
            {
              "value": "body--small-mobile",
              "label": "Small"
            },
            {
              "value": "body--mobile",
              "label": "Regular"
            },
            {
              "value": "body--large-mobile",
              "label": "Large"
            }
          ],
          "default": "body--mobile",
          "label": "Mobile text style"
        }
      ]
    },
    {
      "type": "email_form",
      "name": "t:sections.newsletter.blocks.email_form.name",
      "limit": 1
    },
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "t:sections.newsletter.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "paragraph"
        },
        {
          "type": "email_form"
        }
      ]
    }
  ]
}
{% endschema %}
