{{ 'product_breadcrumbs.css' | asset_url | stylesheet_tag }}

{%- render "section_padding" %}

<div class="section-{{ section.id }}-padding breadcrumbs color-{{ section.settings.color_scheme }}">
  <div class="page-width">
    <div class="breadcrumbs-container">
      <nav class="breadcrumbs" aria-label="breadcrumb">
        <ol class="breadcrumb-list body body--small">
          <li class="breadcrumb">
            <a href="{{ shop.url }}" class="link link--unstyled">{{ 'general.breadcrumbs.home' | t }}</a>
          </li>

          {% if collection %}
            {%- assign vendor_handle = product.vendor | handle %}

            {% if collection.handle != vendor_handle %}
              <li class="breadcrumb">
                <a href="{{ collection.url }}" class="link link--unstyled">{{ collection.title }}</a>
              </li>
            {% endif %}
          {% endif %}

          {% if product %}
            <li class="breadcrumb">
              <a href="/collections/{{ product.vendor | handle }}" class="link link--unstyled">
                {{- product.vendor -}}
              </a>
            </li>
          {% endif %}
        </ol>
      </nav>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product Breadcrumbs",
  "enabled_on": {
    "templates": [
      "product"
    ]
  },
  "class": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Container color scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 4,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding top",
      "default": 2
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 4,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding bottom",
      "default": 2
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 4,
      "step": 0.5,
      "unit": "rem",
      "label": "Section margin",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Product Breadcrumbs"
    }
  ]
}
{% endschema %}
