{{ 'testimonials.css' | asset_url | stylesheet_tag }}

{%- render "section_padding" %}

<div
  id="{{ section.id }}"
  class="color-{{ section.settings.color_scheme }} section-{{ section.id }}-padding isolate  gradient"
>
  <div class="testimonials-container {{ section.settings.layout }}">
    {%- render 'section_header' -%}

    <slider-component class="{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <ul
        id="Slider-{{ section.id }}"
        data-id="{{ section.id }}"
        class="grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--1-col slider slider--desktop slider--mobile"
        role="list"
        aria-label="{{ 'general.slider.name' | t }}"
      >
        {%- for block in section.blocks -%}
          <li
            id="Slide-{{ section.id }}-{{ forloop.index }}"
            class="grid__item slider__slide{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            <div class="testimonial">
              <div class="testimonial-image">
                <div class="media media--{{ block.settings.aspect_ratio }}">
                  <img
                    srcset="
                      {%- if block.settings.image.width >= 165 -%}{{ block.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
                      {%- if block.settings.image.width >= 360 -%}{{ block.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
                      {%- if block.settings.image.width >= 533 -%}{{ block.settings.image | image_url: width: 533 }} 533w,{%- endif -%}
                      {%- if block.settings.image.width >= 720 -%}{{ block.settings.image | image_url: width: 720 }} 720w,{%- endif -%}
                      {%- if block.settings.image.width >= 940 -%}{{ block.settings.image | image_url: width: 940 }} 940w,{%- endif -%}
                      {%- if block.settings.image.width >= 1066 -%}{{ block.settings.image | image_url: width: 1066 }} 1066w,{%- endif -%}
                      {{ block.settings.image | image_url }} {{ block.settings.image.width }}w
                    "
                    src="{{ block.settings.image | image_url: width: 533 }}"
                    sizes="(min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                    alt="{{ block.settings.image.alt | escape }}"
                    class="motion-reduce"
                    loading="lazy"
                    width="{{ block.settings.image.width }}"
                    height="{{ block.settings.image.height }}"
                  >
                </div>
              </div>

              <div class="testimonial-info">
                <h3 class="body body--small bold">{{ block.settings.title }}</h3>
                <div class="testimonial-description body">
                  {{ block.settings.description }}
                </div>
                <div class="testimonial-reviewer body">- {{ block.settings.reviewer }}</div>
              </div>
            </div>
          </li>
        {%- endfor -%}
      </ul>

      {%- render 'slider_controls', section: section -%}
    </slider-component>
  </div>
</div>

{% schema %}
{
  "name": "Testimonials",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        {
          "value": "screen-width",
          "label": "Screen width"
        },
        {
          "value": "page-width",
          "label": "Page width"
        },
        {
          "value": "large-width",
          "label": "Large width"
        },
        {
          "value": "full-width",
          "label": "Full width"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "header",
      "content": "Section Header"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "visible_if": "{{ section.settings.title != blank }}",
      "type": "checkbox",
      "id": "header_is_h1",
      "label": "Header is H1",
      "default": false
    },
    {
      "visible_if": "{{ section.settings.title != blank }}",
      "type": "checkbox",
      "id": "visually_hide_header",
      "label": "Visually hide header",
      "default": false
    },
    {
      "visible_if": "{{ section.settings.title != blank }}",
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h5",
          "label": "X-Small"
        },
        {
          "value": "h4",
          "label": "Small"
        },
        {
          "value": "h3",
          "label": "Medium"
        },
        {
          "value": "h2",
          "label": "Large"
        },
        {
          "value": "h1",
          "label": "X-Large"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "visible_if": "{{ section.settings.description != blank }}",
      "type": "select",
      "id": "text_style",
      "options": [
        {
          "value": "body--small",
          "label": "Small"
        },
        {
          "value": "body",
          "label": "Regular"
        },
        {
          "value": "body--large",
          "label": "Large"
        }
      ],
      "default": "body",
      "label": "Text style"
    },
    {
      "visible_if": "{{ section.settings.description != blank }}",
      "type": "select",
      "id": "mobile_text_style",
      "options": [
        {
          "value": "body--small-mobile",
          "label": "Small"
        },
        {
          "value": "body--mobile",
          "label": "Regular"
        },
        {
          "value": "body--large-mobile",
          "label": "Large"
        }
      ],
      "default": "body--mobile",
      "label": "Mobile text style"
    },
    {
      "visible_if": "{{ section.settings.title != blank or section.settings.description != blank }}",
      "type": "select",
      "id": "heading_alignment",
      "label": "Heading Alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__3.label"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Slider settings"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 2,
      "label": "t:sections.featured-collection.settings.columns_desktop.label"
    },
    {
      "type": "checkbox",
      "id": "slider_show_dots",
      "label": "Show dots",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "slider_show_arrows",
      "label": "Show arrows"
    },
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 4,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding top",
      "default": 2
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 4,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding bottom",
      "default": 2
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 4,
      "step": 0.5,
      "unit": "rem",
      "label": "Section margin",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "aspect_ratio",
          "options": [
            {
              "value": "adapt",
              "label": "Adapt"
            },
            {
              "value": "ribbon",
              "label": "Ribbon"
            },
            {
              "value": "xsmall",
              "label": "X-Small"
            },
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            },
            {
              "value": "square",
              "label": "Square"
            },
            {
              "value": "portrait",
              "label": "Portrait"
            },
            {
              "value": "landscape",
              "label": "Landscape"
            }
          ],
          "default": "portrait",
          "label": "Aspect Ratio"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "reviewer",
          "label": "Reviewer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials"
    }
  ]
}
{% endschema %}
